%h1.headline Events
%ul
  %li
    %a.bold{:href => "http://bostonrb.org/", :target => "_blank"} Boston Ruby Group
    %p Boston Ruby is a local community of Rubyists and enthusiasts of open source software.
  %li
    %a.bold{:href => "http://openhack.github.com/boston", :target => "_blank"} Boston OpenHack
    %p We host a monthly hackfest for developers of all communities.
  %li
    %a.bold{:href => "http://railscamps.com/", :target => "_blank"} RailsCamp New England
    %p An annual 3-day retreat for Rubyists in the New England area.
  %li
    %a.bold{:href => "http://startupsailing.com/", :target => "_blank"} Startup Sailing
    %p The greatest upcoming startup event you'll ever go to.
