%h1.headline Events
%ul
  %li
    %a.bold{:href => "http://openhack.github.com/boston", :target => "_blank"} Boston OpenHack
    %p We host a monthly hackfest for developers of all communities.
  %li
    %a.bold{:href => "http://startupsailing.com/", :target => "_blank"} Startup Sailing
    %p The greatest upcoming startup event you'll ever go to.
