.wrap
  .social-icon
    %a.github{:href => 'https://github.com/dockyard/', :target => '_blank'}
      %span{'aria-hidden' => 'true', 'data-icon' => '★'}
    %a.twitter{:href => 'https://twitter.com/dockyard', :target => '_blank'}
      %span{'aria-hidden' => 'true', 'data-icon' => '#'}
    %a.rss{:href => 'http://reefpoints.dockyard.com/atom.xml', :target => '_blank'}
      %span{'aria-hidden' => 'true', 'data-icon' => '❞'}
    %a.email{:href => '/contact'}
      %span{'aria-hidden' => 'true', 'data-icon' => '✉'}
  %p Copyright &copy; 2013 DockYard, LLC. All Rights Reserved.
  