.wrap
  .social-icon
    %a.github{:href => 'https://github.com/dockyard/', :target => '_blank'}g
    %a.twitter{:href => 'https://twitter.com/dockyard', :target => '_blank'}t
    %a.rss{:href => 'http://reefpoints.dockyard.com/atom.xml', :target => '_blank'}f
    %a.email{:href => '/contact'}m
  %p Copyright &copy; 2012 DockYard, LLC. All Rights Reserved.
  