%ul
  %li.social-icon
    %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}g
  %li.footer-text
    %p &copy; 2012 DockYard, LLC. All Rights Reserved.
    %a{:href => '/contact'} Contact Us
  %li.social-icon
    %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t