%ul
  %li
    %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
  %li
    %p &copy; 2012 DockYard, LLC. All Rights Reserved.
  %li
    %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t