#mobile-header
  %div
    %h1.logo-small DockYard
    .mobile-button n
  %nav
    %ul#mobile-nav
      %li
        %a{:href => '/'}
          %span h
          %p Home
      %li
        %a{:href => '/work'}
          %span w
          %p Work
      %li
        %a{:href => '/people'}
          %span p
          %p People
      %li
        %a{:href => '/community'}
          %span c
          %p Community
      %li
        %a{:href => 'http://reefpoints.dockyard.com/'}
          %span b
          %p Blog
      %li
        %a{:href => '/contact'}
          %span m
          %p Contact

#site-header
  .wrap
    .nav
      %h1
        %a.logo-small{:href => '/'} DockYard
      %ul
        %li.nav-work
          %a{:href => '/work'} Work
        %li.nav-people
          %a{:href => '/people'} People
        %li.nav-community
          %a{:href => '/community'} Community
        %li.nav-blog
          %a{:href => 'http://reefpoints.dockyard.com/'} Blog
        %li.nav-contact
          %a{:href => '/contact'} Contact

:javascript
  $("[id='mobile-nav']").flexNav();