.wrap
  .nav
    %h1
      %a{:href => '/'} DockYard
    %ul
      %li.nav-work
        %a{:href => '/work'} Work
      %li.nav-people
        %a{:href => '/people'} People
      %li.nav-community
        %a{:href => '/community'} Community
      %li.nav-blog
        %a{:href => 'http://reefpoints.dockyard.com/', :target => '_blank'} Blog
      %li.nav-contact
        %a{:href => '/contact'} Contact