#mobile-header
  %div
    %h1.logo-small DockYard
    .mobile-button{'aria-hidden' => 'true', 'data-icon' => '☰'}
  %nav
    %ul#mobile-nav
      %li
        %a{:href => '/'}
          %span{'aria-hidden' => 'true', 'data-icon' => '⌂'}
          %p Home
      %li
        %a{:href => '/work'}
          %span{'aria-hidden' => 'true', 'data-icon' => '$'}
          %p Work
      %li
        %a{:href => '/people'}
          %span{'aria-hidden' => 'true', 'data-icon' => '☺'}
          %p People
      %li
        %a{:href => '/community'}
          %span{'aria-hidden' => 'true', 'data-icon' => '♥'}
          %p Community
      %li
        %a{:href => 'http://reefpoints.dockyard.com/'}
          %span{'aria-hidden' => 'true', 'data-icon' => '❝'}
          %p Blog
      %li
        %a{:href => '/contact'}
          %span{'aria-hidden' => 'true', 'data-icon' => '✉'}
          %p Contact

#site-header
  .wrap
    .nav
      %h1
        %a.logo-small{:href => '/'} DockYard
      %ul
        %li.nav-work
          %a{:href => '/work'} Work
        %li.nav-people
          %a{:href => '/people'} People
        %li.nav-community
          %a{:href => '/community'} Community
        %li.nav-blog
          %a{:href => 'http://reefpoints.dockyard.com/'} Blog
        %li.nav-contact
          %a{:href => '/contact'} Contact

:javascript
  $("[id='mobile-nav']").flexNav();