.wrap
  .nav
    %h1
      %a{:href => "index.html"} DockYard
    %ul
      %li
        %a{:href => "work.html"} Work
      %li
        %a{:href => "process.html"} Process
      %li
        %a{:href => "people.html"} People
      %li
        %a{:href => "community.html"} Community
      %li
        %a{:href => "contact.html"} Contact