.wrap
  .nav
    %h1
      %a{:href => '/'} DockYard
    %ul
      %li
        %a{:href => '/work/openbay'} Work
      %li
        %a{:href => '/process'} Process
      %li
        %a{:href => '/people'} People
      %li
        %a{:href => '/community'} Community
      %li
        %a{:href => 'http://reefpoints.dockyard.com/', :target => '_blank'} Blog
      %li
        %a{:href => '/contact'} Contact