.wrap
  .nav
    %h1
      %a{:href => '/'} DockYard
    %ul
      %li
        %a{:href => '/work'} Work
      %li
        %a{:href => '/process'} Process
      %li
        %a{:href => '/people'} People
      %li
        %a{:href => '/community'} Community
      %li
        %a{:href => '/contact'} Contact