%section#how-we-work
  %section
    %h1 How we work

    %nav
      %ul.hidden-info-list
        %li
          %a{:href => '/#ruby-on-rails'} Ruby on Rails
        %li
          %a{:href => '/#jquery'} jQuery
        %li
          %a{:href => '/#postgresql'} PostgreSQL
        %li.last
          %a{:href => '/#agile-development'} Agile Development

    %article#ruby-on-rails
      = image_tag 'rails.png'
      Ruby on Rails

    %article#jquery
      = image_tag 'jquery.png'
      jQuery

    %article#postgresql
      = image_tag 'postgresql.png'
      PostgreSQL

    %article#agile-development
      Agile Development
