%section#projects
  %section.wrapper
    %h1 Projects

    %article
      %h2 Openbay 
      %p
        Openbay aims to revolutionize the vehicle service industry. They provide an innovative way for consumers to match up services with nearby providers. This drives competition and helps consumers make informed purchasing decisions.
      %p
        Dockyard worked with Openbay to plan, build &amp; launch the first version of their product. In addition to building the Openbay application, we built a custom invitation system to help get early users involved with the service.
      %p  
        %a.action{:href => 'http://www.openbay.com/'}
          Visit Openbay &rsaquo;

    %img{:src => '/assets/projects/openbay_t.png'}
