%section#what-we-do
  %h1 What we do

  .tabs
    %nav
      %ul.hidden-info-list
        %li
          %a{:href => '/#web'}web
        %li
          %a{:href => '/#mobile'}mobile
        %li
          %a{:href => '/#startup'}startup
        %li
          %a{:href => '/#enterprise'}enterprise
        -# %li
        -#   %a{:href => '/#portfolio'}portfolio
  
    %article#web
      %h2 Web
      %p Web development is our specialty. We follow best practices and work with the latest, leading tools to deliver secure web applications that can scale to your needs.
  
    %article#mobile
      %h2 Mobile
      %p Mobile is becoming a “must have” technology. To meet your needs, we use our web development experience to build dynamic, cross-platform mobile applications.
  
    %article#startup
      %h2 Startup
      %p Building a team to put your idea into action is often difficult and expensive. Hire DockYard to quickly bootstrap your MVP.
  
    %article#enterprise
      %h2 Enterprise
      %p To capitalize on your department’s bold ideas, you will need to deliver impressive results — fast. To meet those goals, we will ensure those ideas arrive to market on time and on budget.
  
    -# %article#portfolio
    -#   %h2 Portfolio
    -#   %p Portfolio stuff goes in here:
    -#   %ul
    -#     %li Tapology
  
