%section#what-we-do
  %section
    %h1 What we do

    %nav
      %ul.hidden-info-list
        %li
          %a{:href => '/#web'}web
        %li
          %a{:href => '/#mobile'}mobile
        %li
          %a{:href => '/#startup'}startup
        %li
          %a{:href => '/#enterprise'}enterprise
        -# %li
        -#   %a{:href => '/#portfolio'}portfolio

    %article#web
      %h2 Web
      %p We specialize in web development and have been doing so for years. We diligently follow best practices and work with the best tools to deliver secure web applications that can scale.

    %article#mobile
      %h2 Mobile
      %p Every day mobile application are becoming more important. We leverage our web development experience to build cross-platform mobile applications.

    %article#startup
      %h2 Startup
      %p Building a team to put your idea into action is not only difficult but expensive. Hire DockYard to quickly bootstrap your MVP.

    %article#enterprise
      %h2 Enterprise
      %p Your department has big ideas and needs to deliver fast. We can help get your idea to market on time and on budget.

    -# %article#portfolio
    -#   %h2 Portfolio
    -#   %p Portfolio stuff goes in here:
    -#   %ul
    -#     %li Tapology

