%section#who-we-are
  %h1 Who we are

  %article
    %h2 About DockYard
    %p DockYard is a Boston, MA based software consultancy. We service primarily the north east but have worked with companies on the west coast and outside the US.

  %article
    %h2 Team
    %ul
      %li
        Brian Cardarella - Principal
        %summary
          Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
        %ul
          %li= link_to 'Twitter', 'http://twitter.com/bcardarella'
          %li= link_to 'Github',  'https://github.com/bcardarella'