%section#who-we-are
  %section
    %h1 Who we are

    %article.about-dockyard
      %h2 About DockYard
      %p DockYard is a software consultancy based in Boston, MA. We service primarily the north east but have worked with companies on the west coast and outside the US.

    %article
      %h2 Team
      %ul
        %li
          .photo
            %img{ :src => "/assets/brian.jpg" }
          .info
            %h3
              Brian Cardarella &ndash; Principal
            %p
              Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and
          %ul.links
            %li= link_to 'Twitter', 'http://twitter.com/bcardarella'
            %li= link_to 'Github',  'https://github.com/bcardarella'
