%section#who-we-are
  %header
    %h1 Who
    %h2 we are

  %section#about
    %header
      About DockYard

    %article
      DockYard is a Boston, MA based software consultancy. We service primarily the north east but have worked with companies on the west coast and outside the US.

  %section#team
    %header
      Team

    %article
      %ul
        %li
          Brian Cardarella - Principal
          %ul
            %li= link_to 'Twitter', 'http://twitter.com/bcardarella'
            %li= link_to 'Github',  'https://github.com/bcardarella'
          %summary
            Brian loves clean well-tested code. He is resistant to introducing unecessary complexities and 


