%body#community
  .title
    .wrap
      %h1 Community
  .content
    .wrap
      .details
        .colspan.open-source
          %h2 Open Source
        .col3
          %h2 Events
          %ul
            %li
              %a{:href => "http://bostonrb.org/", :target => "_blank"} Boston Ruby Group
              %p Boston Ruby is a local community of Rubyists and enthusiasts of open source software. The main event is the second Tuesday of every month.
            %li
              %a{:href => "http://railscamps.com/", :target => "_blank"} RailsCamp New England
              %p Rails Camps are becoming regular fixtures in countries like Australia, UK, USA, Denmark and Poland. It would be awesome to see more happen elsewhere. Rails Camps happen because people make them happen. People like you.
            %li
              %a{:href => "http://startupsailing.com/", :target => "_blank"} Startup Sailing
              %p We're going to start in Boston Harbor and sail up to Marblehead. We'll stay for the night and sail back the next day. Get to know many of the other startup folks in Boston and participate in the best damn startup event you'll ever go to.
        .clear