%body#community
  .title
    .wrap
      %h1 Community
  .content
    .wrap
      .details
        .colspan
          %h1.headline Open Source
          %ul
            %li
              %a{:href => "https://github.com/dockyard/capybara-email", :target => "_blank"}
                .os-wrap
                  .os-icon m
                  .os-desc
                    %h1 Capybara Email
                    %p Test your ActionMailer &amp; Mailer messages with Capybara
            %li
              %a{:href => "https://github.com/bcardarella/client_side_validations", :target => "_blank"}
                .os-wrap
                  .os-icon v
                  .os-desc
                    %h1 Client Side Validations
                    %p Client-side validations for Ruby on Rails
            %li
              %a{:href => "https://github.com/dockyard/easy_auth", :target => "_blank"}
                .os-wrap
                  .os-icon.easy-auth a
                  .os-desc
                    %h1 Easy Auth
                    %p Dead simple drop-in identity based Rails authentication
            %li
              %a{:href => "https://github.com/dockyard/pages", :target => "_blank"}
                .os-wrap
                  .os-icon q
                  .os-desc
                    %h1 Pages
                    %p Simple, dynamic yet static pages for a Rails application
            %li
              %a{:href => "https://github.com/dockyard/postgres_ext", :target => "_blank"}
                .os-wrap
                  .os-icon d
                  .os-desc
                    %h1 Postgres Ext
                    %p Adds support for missing PostgreSQL data types to ActiveRecord
            %li
              %a{:href => "https://github.com/dockyard/sail_plan", :target => "_blank"}
                .os-wrap
                  .os-icon s
                  .os-desc
                    %h1 Sail Plan
                    %p DockYard's Rails template (expects PhantomJS to be installed via Homebrew)
            %li
              %a{:href => "https://github.com/bcardarella/valid_attribute", :target => "_blank"}
                .os-wrap
                  .os-icon r
                  .os-desc
                    %h1 Valid Attribute
                    %p Valid Attribute is a minimalist matcher for validation BDD
        .col3.events
          = render :partial => 'shared/events'
        .clear