%body#community
  .title
    .wrap
      %h1 Community
  .content
    .wrap
      .details
        .colspan.open-source
          %h2 Open Source
          %ul
            %li
              .os-project
                .os-project-header
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                  %h1 ClientSideValidations
                .os-project-details
                  %p ClientSideValidations for Ruby on Rails
            %li
              .os-project
                .os-project-header
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                  %h1 CapybaraEmail
                .os-project-details
                  %p Test your ActionMailer and Mailer messages with Capybara
            %li
              .os-project
                .os-project-header
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                  %h1 ValidAttribute
                .os-project-details
                  %p Minimalist validation BDD for ActiveModel specs
            %li
              .os-project
                .os-project-header
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                  %h1 PostgresExt
                .os-project-details
                  %p Adds support for missing PostgreSQL data types to ActiveRecord
            %li
              .os-project
                .os-project-header
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                  %h1 ClientSideValidations
                .os-project-details
                  %p ClientSideValidations for Ruby on Rails
            %li
              .os-project
                .os-project-header
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                  %h1 CapybaraEmail
                .os-project-details
                  %p Test your ActionMailer and Mailer messages with Capybara
            %li
              .os-project
                .os-project-header
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                  %h1 ValidAttribute
                .os-project-details
                  %p Minimalist validation BDD for ActiveModel specs
            %li
              .os-project
                .os-project-header
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                  %h1 PostgresExt
                .os-project-details
                  %p Adds support for missing PostgreSQL data types to ActiveRecord
        .col3.events
          %h2 Events
          %ul
            %li
              %a{:href => "http://bostonrb.org/", :target => "_blank"} Boston Ruby Group
              %p Boston Ruby is a local community of Rubyists and enthusiasts of open source software. The main event is the second Tuesday of every month.
            %li
              %a{:href => "http://railscamps.com/", :target => "_blank"} RailsCamp New England
              %p Imagine yourself and a posse of like-minded ruby hackers on a country retreat with zero internet for a weekend of fun. You'll laugh, hack, learn, cry (well, you probably won’t cry… but you know… it felt poetic) and most likely play a crap-load of Werewolf.
            %li
              %a{:href => "http://startupsailing.com/", :target => "_blank"} Startup Sailing
              %p We're going to start in Boston Harbor and sail up to Marblehead. We'll stay for the night and sail back the next day. Get to know many of the other startup folks in Boston and participate in the best damn startup event you'll ever go to.
        .clear