%body#contact
  .title
    .wrap
      %h1 Contact
  .content
    .wrap
      .col1
        .icon p
        %a{ :href => 'http://goo.gl/maps/Gkabv'}
          %p 100 Tremont Street Boston, MA 02108
        .icon c
        %p (855) DOCK&ndash;YRD
      .col-span2
        %h1.headline Send Us A Message
        %p 
          %span.bold Want to hire us?
          We are looking for projects in designing and developing web applications using Ruby on Rails. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        %p
          %span.bold Interested in joining our team?
          We are looking for business development, designers &amp; developers. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ut labore et dolore magna aliqua ut labore et dolore magna aliqua.
        %form{ :action => '', :method => 'post'}
          %fieldset
            %ul
              %li
                %label{ :for => 'company'} Company Name
                %input{ :type => 'text', :name => 'company', :class => 'text'}
              %li
                %label{ :for => 'name'} Contact Name
                %input{ :type => 'text', :name => 'name', :class => 'text'}
              %li
                %label{ :for => 'email'} Contact Email
                %input{ :type => 'text', :name => 'email', :class => 'text'}
              %li
                %label{ :for => 'message'} Message
                %textarea{ :name => 'message'}
              %input.submit{ :type => 'submit', :value => 'Submit', :class => 'button'}

      .clear
              