%body#home
  .about
    .dockyard
      .narwin
      %h1.logo-big DockYard
    .callout
      %p
        We are a web &amp; mobile software consultancy based in Boston, MA
        %br
        that specializes in Ruby on Rails, PostgreSQL, and mobile development.
  .circle
  #tide
    .landing-gallery
      #home-container
        %a.work-link{:href => '/work'}
        %nav
          %span.home-prev &lt;
        .home-wrapper
          %a{:href => '#'}
            %img{:alt => 'Openbay', :src => '/assets/landing/1@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'rePurpose', :src => '/assets/landing/2@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'Provider Tool', :src => '/assets/landing/4@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'Tip of the Iceberg', :src => '/assets/landing/5@2X.jpg', :width => '570px', :height => '392.5px'}
        %nav
          %span.home-next &gt;
  .gradient
    .wrap
      .col-span
        %h2 Blog
        %ul
          %li
            %a{:href => 'http://reefpoints.dockyard.com/ruby/2012/09/21/querying-postgresql-datatypes-in-active-record-with-postgres_ext.html', :target => '_blank'} Querying PostgreSQL datatypes in ActiveRecord with postgres_ext
            %p Returning records based on array elements and network subnets
          %li
            %a{:href => 'http://reefpoints.dockyard.com/design/2012/09/20/making-of-the-dockyard-narwin.html', :target => '_blank'} Making of the DockYard Narwin
            %p Animated gif of the evolution of the narwin
          %li
            %a{:href => 'http://reefpoints.dockyard.com/ruby/2012/09/18/rails-4-sneak-peek-postgresql-array-support.html', :target => '_blank'} Rails 4.0 Sneak Peek: PostgreSQL array support
            %p Storing arrays natively in PostgreSQL is now supported by Rails
      .col3
        = render :partial => 'shared/events'
      .clear
