%body#home
  .about
    .dockyard
      .narwin
      %h1.logo-big DockYard
    .callout
      We are a web &amp; mobile software consultancy based in Boston, MA.
      %br
      We take pride in steering your projects towards smart, simple solutions.
  .circle
  .tide
    .gallery
      .wrap
        %img{:alt => "Client Work", :src => "assets/slider.png"}
  .gradient
    .wrap
      .col-span
        %h2 Blog
        %ul
          %li
            %a{:href => "http://reefpoints.dockyard.com/ruby/2012/06/26/rails-4-sneak-peek-async-actionmailer.html"} Rails 4.0 Sneak Peek: Asynchronous ActionMailer
            %p How to send your emails using the new Rails 4.0 Queue
          %li
            %a{:href => "http://reefpoints.dockyard.com/ruby/2012/06/25/rails-4-sneak-peek-queueing.html"} Rails 4.0 Sneak Peek: Queueing
            %p A look at the new Queueing API
          %li
            %a{:href => "http://reefpoints.dockyard.com/opinion/2012/06/21/lessons-learned-six-month-of-running-dockyard.html"} Lessons Learned: The First Six Months of Running a Software Consultancy
            %p Brian talks about what has worked, what has not worked, and the changes that have been made at DockYard during its first six months
      .col3
        %h2 Events
        %ul
          %li
            %a{:href => "http://bostonrb.org/", :target => "_blank"} Boston Ruby Group
            %p Boston Ruby is a local community of Rubyists and enthusiasts of open source software. The main event is the second Tuesday of every month.
          %li
            %a{:href => "http://railscamps.com/", :target => "_blank"} RailsCamp New England
          %li
            %a{:href => "http://startupsailing.com/", :target => "_blank"} Startup Sailing
      .clear