%body#home
  .about
    .dockyard
      .narwin
      %h1.logo-big DockYard
    .callout
      %p
        We are a Ruby on Rails, PostgreSQL, and web application development software consultancy based in Boston, MA.
  .circle
  #mobile-tide
  #tide
    .landing-gallery
      #home-container
        %a.work-link{:href => '/work'}
        %nav
          %span.home-prev &lt;
        .home-wrapper
          %a{:href => '#'}
            %img{:alt => 'Openbay', :src => '/assets/landing/1@2X.jpg'}
          %a{:href => '#'}
            %img{:alt => 'rePurpose', :src => '/assets/landing/2@2X.jpg'}
          %a{:href => '#'}
            %img{:alt => 'Provider Tool', :src => '/assets/landing/4@2X.jpg'}
          %a{:href => '#'}
            %img{:alt => 'Tip of the Iceberg', :src => '/assets/landing/5@2X.jpg'}
        %nav
          %span.home-next &gt;
  .gradient
    .wrap
      #mobile-landing-gallery
        %img{:alt => 'Openbay', :src => '/assets/landing/1.jpg'}
        %img{:alt => 'rePurpose', :src => '/assets/landing/2.jpg'}
        %img{:alt => 'Provider Tool', :src => '/assets/landing/4.jpg'}
        %img{:alt => 'Tip of the Iceberg', :src => '/assets/landing/5.jpg'}
      .col1
        %h1.headline Blog
        - articles = RecentArticles::Article.retrieve_articles
        %ul
          - articles.each do |article|
            %li
              = link_to article.title, article.link, :target => '_blank'
              %p= article.summary
      .col3
        = render :partial => 'shared/events'
      .clear


:javascript
  var activeSlide;

  $(document).ready(function() {

  $('.cycle').cycle({
      containerResize: 1,
      width: 'fit',
      after: function(curr, next, obj) {
          activeSlide = obj.currSlide;
      }
  });

  $(window).resize(function(){
      $('.cycle').cycle('destroy');
      $('.cycle').each(function(){
          newWidth = $(this).parent('div').width();
          $(this).width(newWidth);
          $(this).height('auto');
          $(this).children('div').width(newWidth);
          $(this).children('div').height('auto');
      });
      $('.cycle').cycle({
          containerResize: 1,
          width: 'fit',
          after: function(curr, next, obj) {
              activeSlide = obj.currSlide;
          },
          startingSlide: activeSlide
      });
  });

  });