%body#home
  .about
    .dockyard
      .narwin
      %h1.logo-big DockYard
    .callout
      %p
        We are a Ruby on Rails, PostgreSQL, and web application development software consultancy based in Boston, MA.
  .circle
  #mobile-tide
  #tide
    .landing-gallery
      #home-container
        %a.work-link{:href => '/work'}
        %nav
          %span.home-prev &lt;
        .home-wrapper
          %a{:href => '#'}
            %img{:alt => 'Openbay', :src => '/assets/landing/1@2X.jpg'}
          %a{:href => '#'}
            %img{:alt => 'rePurpose', :src => '/assets/landing/2@2X.jpg'}
          %a{:href => '#'}
            %img{:alt => 'Provider Tool', :src => '/assets/landing/4@2X.jpg'}
          %a{:href => '#'}
            %img{:alt => 'Tip of the Iceberg', :src => '/assets/landing/5@2X.jpg'}
        %nav
          %span.home-next &gt;
  .gradient
    #mobile-landing-gallery
      .wrap
        %h1.headline Featured Work
      .slider#landing-gallery-slider
        %ul
          %li
            %a{:href => '/work'}
              %img{:alt => 'Openbay', :src => '/assets/landing/1@2X.jpg'}
          %li
            %a{:href => '/work'}
              %img{:alt => 'rePurpose', :src => '/assets/landing/2@2X.jpg'}
          %li
            %a{:href => '/work'}
              %img{:alt => 'Provider Tool', :src => '/assets/landing/4@2X.jpg'}
          %li
            %a{:href => '/work'}
              %img{:alt => 'Tip of the Iceberg', :src => '/assets/landing/5@2X.jpg'}
      .mobile-landing-gallery-control
        %a.slider-prev{:href => "#", 'data-slider' => 'landing-gallery-slider'} l
        %a.slider-next{:href => "#", 'data-slider' => 'landing-gallery-slider'} i
    .wrap
      .col1
        %h1.headline Blog
        - articles = RecentArticles::Article.retrieve_articles
        %ul
          - articles.each do |article|
            %li
              = link_to article.title, article.link, :target => '_blank'
              %p= article.summary
      .col3
        = render :partial => 'shared/events'
      .clear

:javascript
  $(function(){
    window.sliders = {}
    $('.slider').each(function(){
      var id = $(this).attr('id')
      sliders[id] = new Swipe(this, {
        speed: 500,
        auto: 3000
      });
    });
    $('.slider-next').click(function(event){
      event.preventDefault();
      var $target = $(event.target);
      var sliderName = $target.attr('data-slider');
      sliders[sliderName].next();
    });
    $('.slider-prev').click(function(event){
      event.preventDefault();
      var $target = $(event.target);
      var sliderName = $target.attr('data-slider');
      sliders[sliderName].prev();
    });
  })