%body#home
  .about
    .dockyard
      .narwin
      %h1.logo-big DockYard
    .callout
      %p
        We are a web &amp; mobile software consultancy based in Boston, MA
        %br
        that specializes in Ruby on Rails, PostgreSQL, and mobile development.
  .circle
  #tide
    .landing-gallery
      #home-container
        %a.work-link{:href => '/work'}
        %nav
          %span.home-prev &lt;
        .home-wrapper
          %a{:href => '#'}
            %img{:alt => 'Openbay', :src => '/assets/landing/1@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'rePurpose', :src => '/assets/landing/2@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'Provider Tool', :src => '/assets/landing/4@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'Tip of the Iceberg', :src => '/assets/landing/5@2X.jpg', :width => '570px', :height => '392.5px'}
        %nav
          %span.home-next &gt;
  .gradient
    .wrap
      .col-span
        %h2 Blog
        - articles = RecentArticles::Article.retrieve_articles
        %ul
          - articles.each do |article|
            %li
              = link_to article.title, article.link, :target => '_blank'
              %p= article.summary
      .col3
        = render :partial => 'shared/events'
      .clear
