%body#home
  .about
    .dockyard
      .narwin
      %h1.logo-big DockYard
    .callout
      %p
        We are a web &amp; mobile software consultancy based in Boston, MA
        %br
        that specializes in Ruby on Rails, PostgreSQL, and mobile development.
  .circle
  #tide
    .landing-gallery
      #home-container
        %a.work-link{:href => '/work'}
        %nav
          %span.home-prev &lt;
        .home-wrapper
          %a{:href => '#'}
            %img{:alt => 'Openbay', :src => '/assets/landing/1@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'rePurpose', :src => '/assets/landing/2@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'Provider Tool', :src => '/assets/landing/4@2X.jpg', :width => '570px', :height => '392.5px'}
          %a{:href => '#'}
            %img{:alt => 'Tip of the Iceberg', :src => '/assets/landing/5@2X.jpg', :width => '570px', :height => '392.5px'}
        %nav
          %span.home-next &gt;
  #mobile-tide
  .gradient

    .wrap
      .col-span
        %h2 Blog
        %ul
          %li
            %a{:href => 'http://reefpoints.dockyard.com/ruby/2012/09/18/rails-4-sneak-peek-postgresql-array-support.html', :target => '_blank'} Rails 4.0 Sneak Peek: PostgreSQL array support
            %p Storing arrays natively in PostgreSQL is now supported by Rails
          %li
            %a{:href => 'http://reefpoints.dockyard.com/announcement/2012/09/05/doug-yun-is-a-dockyarder.html', :target => '_blank'} Doug Yun is a DockYarder!
            %p DockYard welcomes Doug Yun
          %li
            %a{:href => 'http://reefpoints.dockyard.com/opinion/2012/08/30/lessons-learned-the-first-hire.html', :target => '_blank'} Lessons Learned: The First Hire
            %p What to expect when you start hiring
      .col3
        = render :partial => 'shared/events'
      .clear

:javascript
  var swipe = new Swipe(document.getElementById('swipe'));