%body#work
  .title
    .wrap
      %h1 Work
  .content
    .wrap
      %h1 Openbay
      .details
        .col-span
          %p
            %span.bold Openbay 
            aims to revolutionize the vehicle service industry. They provide an innovative way for consumers to match up services with nearby providers. This drives competition and helps consumers make informed purchasing decisions.
          %p
            Dockyard worked with 
            %span.bold Openbay 
            to plan, build & launch the first version of their product. In addition to building the 
            %span.bold Openbay 
            application, we built a custom invitation system to help get early users involved with the service.
          %a.site-link{:href => 'http://openbay.com/', :target => 'blank'} Visit Openbay
        .col3
          .testimonial
            %p "Efficient approach to problem solving, fast development cycles, high quality workmanship and are very attentive to the customer."
            %p.author Robert Infantino 
            %p.author Founder and CEO at Openbay, Inc.
      .clear
      .slider
        %ul.slider-nav
          %li.prev
            %a{:href => '#'} Previous
          %li.next
            %a{:href => '#'} Next
        %ul.slides
          %li
            %img{:alt => "Openbay", :src => "/assets/openbay/openbay1.png"}
          %li
            %img{:alt => "Openbay", :src => "/assets/openbay/openbay2.png"}
          %li
            %img{:alt => "Openbay", :src => "/assets/openbay/openbay3.png"}
      .work-nav
        %h1 Client List
        %ul
          %li.button
            %a{:href => '/work/openbay'} Openbay
          %li.button
            %a{:href => '/work/tip'} Tip
          %li.button
            %a{:href => '/work/repurpose'} RePurpose