%body#people
  .title
    .wrap
      %h1 People
  .content
    .wrap
      .col1
        %ul.team-names
          %li Brian Cardarella
          %li Angelo Simeoni
          %li Dan McClain
          %li Chris Gill
          %li Amanda Cheung
          %li Doug Yun
      .col-span2
        %ul
          %li
            %img{:alt => "Brian Cardarella", :src => "assets/brian.png"}
            %h1 Brian Cardarella
            %p Brian Cardarella, one of DockYard's partners, lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master cleanse commodo.
            %p Follow Brian on
            %ul.share
              %li
                %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
          %li
            %img{:alt => "Angelo Simeoni", :src => "assets/angelo.png"}
            %h1 Angelo Simeoni
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master cleanse commodo.
            %p Follow Angelo on
            %ul.share
              %li
                %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
          %li
            %img{:alt => "Dan McClain", :src => "assets/dan.png"}
            %h1 Dan McClain
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master cleanse commodo.
            %p Follow Dan on
            %ul.share
              %li
                %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
          %li
            %img{:alt => "Brian Cardarella", :src => "assets/brian.png"}
            %h1 Brian Cardarella
            %p Brian Cardarella, one of DockYard's partners, lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master cleanse commodo.
            %p Follow Brian on
            %ul.share
              %li
                %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
          %li
            %img{:alt => "Angelo Simeoni", :src => "assets/angelo.png"}
            %h1 Angelo Simeoni
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master cleanse commodo.
            %p Follow Angelo on
            %ul.share
              %li
                %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
          %li
            %img{:alt => "Dan McClain", :src => "assets/dan.png"}
            %h1 Dan McClain
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master cleanse commodo.
            %p Follow Dan on
            %ul.share
              %li
                %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
      .clear