%body#people
  .title
    .wrap
      %h1 People
  .content#brian
    .wrap
      .col1#fixed-nav
        %ul
          %li
            %a.scroll{:href => '#brian'} Brian Cardarella
          %li
            %a.scroll{:href => '#angelo'} Angelo Simeoni
          %li
            %a.scroll{:href => '#dan'} Dan McClain
          %li
            %a.scroll{:href => '#chris'} Chris Gill
          %li
            %a.scroll{:href => '#amanda'} Amanda Cheung
          %li
            %a.scroll{:href => '#doug'} Doug Yun
          %li
            %a.scroll{:href => '#dan_c'} Dan Crowther
      .col-span2
        %ul#team
          %li
            %img{:alt => 'Brian Cardarella', :src => 'assets/people/brian.jpg'}
            %h1.headline
              Brian Cardarella
              %span Partner
            %p
              Brian began coding when he was 12, making simple games. Within two years, one of his games was featured in Newsweek magazine. He’s had a paper published on large integer mathematics and has spent years in many programming languages (C/C++, Assembler (MASM), TCL) before finally settling on Ruby. He’s worked in the enterprise, a top startup, and one of the largest political organizations in the world. Brian organizes several software community events, most notably The Boston Ruby Group. When he’s not working, he’s sailing or snowboarding.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/bcardarella', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/bcardarella', :target => '_blank'}t
          %li
            #angelo.scroll-to
            %img{:alt => 'Angelo Simeoni', :src => 'assets/people/angelo.jpg'}
            %h1.headline
              Angelo Simeoni
              %span Partner
            %p
              Angelo is an interactive designer, crafting compelling interactions for more than half of a decade. He constantly strives to connect project needs with a fantastic user experience. At any given moment, you may find him kickboxing at his dojo, absorbing hand-crafted typography, or rapidly prototyping the next big idea that just might work.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/cssboy', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/cssboy', :target => '_blank'}t
          %li
            #dan.scroll-to
            %img{:alt => 'Dan McClain', :src => 'assets/people/dan_m.jpg'}
            %h1.headline
              Dan McClain
              %span Developer
            %p
              Since 2007, Dan has been programming professionally. Originally a .Net developer, Dan start working with Ruby in early 2010 while building a prototype application in Rails. In early 2012, he transitioned to a full time Ruby developer when he joined DockYard.  He also has spent time performing system admin tasks, and is comfortable managing Linux servers, both virtualized and physical.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/danmcclain', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/_danmcclain', :target => '_blank'}t
          %li
            #chris.scroll-to
            %img{:alt => 'Chris Gill', :src => 'assets/people/chris.jpg'}
            %h1.headline
              Chris Gill
              %span Developer
            %p
              Chris is a Senior Software Engineer with over 10 years of experience developing cellular, modular, interactivodular systems that are both correct and maintainable. He abhors cargo cults and fad-driven technologies, and delights in telling inappropriate jokes to strangers while inebriated. Prior to joining DockYard, Chris was the Lead Developer at the Democratic National Committee, where he and his team developed core party infrastructure.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/gilltots', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/gilltots', :target => '_blank'}t
          %li
            #amanda.scroll-to
            %img{:alt => 'Amanda Cheung', :src => 'assets/people/amanda.jpg'}
            %h1.headline
              Amanda Cheung
              %span Designer
            %p
              Amanda is a designer and front end developer at DockYard. Originally educated in fine arts, she dabbled in political cartoons and editorial print design before discovering her interest in web development. She is a lover of SASS, subtle textures, and easter eggs.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/acacheung', :target => '_blank'}g
          %li
            #doug.scroll-to
            %img{:alt => 'Doug Yun', :src => 'assets/people/doug.jpg'}
            %h1.headline
              Doug Yun
              %span Developer
            %p
              Originally from Southern Oregon, Doug relocated to Boston for school and his love of music. During his time as an undergraduate, he began programming with Ruby as a hobby; and upon earning a B.S. in Physics, he decided to turn his hobby into a career. At DockYard, he is exposed to great software practices and growing as a developer. Doug enjoys writing music, riding bikes, reading sci-fi, and yelling indirectly at professional athletes. 
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/duggieawesome', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/DougYun', :target => '_blank'}t
          %li
            #dan_c.scroll-to
            %img{:alt => 'Dan Crowther', :src => 'assets/people/dan_c.jpg'}
            %h1.headline
              Dan Crowther
              %span Biz Dev
            %p
              Dan has over five years of business development experience in the Boston are technology start up sector, advocating for and selling a host of SaaS offerings. As the director of business development, Dan is charged with identifying and pursuing potential clients and bringing them into the DockYard fold. In his spare time, Dan can usually be found on a basketball court, wherever he can find a pickup game. He lives in Boston with his fianc&#233; and their Guinea Pig, Sally.
            %br
      .clear