%body#people
  .title
    .wrap
      %h1 People
  .content#brian
    .wrap
      .col1#fixed-nav
        %ul
          %li
            %a.scroll{:href => '#brian'} Brian Cardarella
          %li
            %a.scroll{:href => '#angelo'} Angelo Simeoni
          %li
            %a.scroll{:href => '#dan'} Dan McClain
          %li
            %a.scroll{:href => '#chris'} Chris Gill
          %li
            %a.scroll{:href => '#amanda'} Amanda Cheung
          %li
            %a.scroll{:href => '#doug'} Doug Yun
          %li
            %a.scroll{:href => '#dan_c'} Dan Crowther
      .col-span2
        %ul#team
          %li
            %img{:alt => 'Brian Cardarella', :src => 'assets/people/brian.jpg'}
            %h1.headline
              Brian Cardarella
              %span Partner
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/bcardarella', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/bcardarella', :target => '_blank'}t
          %li
            #angelo.scroll-to
            %img{:alt => 'Angelo Simeoni', :src => 'assets/people/angelo.jpg', :width => '720px', :height => '320px'}
            %h1.headline
              Angelo Simeoni
              %span Partner
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/cssboy', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/cssboy', :target => '_blank'}t
          %li
            #dan.scroll-to
            %img{:alt => 'Dan McClain', :src => 'assets/people/dan_m.jpg', :width => '720px', :height => '320px'}
            %h1.headline
              Dan McClain
              %span Developer
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/danmcclain', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/_danmcclain', :target => '_blank'}t
          %li
            #chris.scroll-to
            %img{:alt => 'Chris Gill', :src => 'assets/people/chris.jpg', :width => '720px', :height => '320px'}
            %h1.headline
              Chris Gill
              %span Developer
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/gilltots', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/gilltots', :target => '_blank'}t
          %li
            #amanda.scroll-to
            %img{:alt => 'Amanda Cheung', :src => 'assets/people/amanda.jpg', :width => '720px', :height => '320px'}
            %h1.headline
              Amanda Cheung
              %span Designer
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/acacheung', :target => '_blank'}g
          %li
            #doug.scroll-to
            %img{:alt => 'Doug Yun', :src => 'assets/people/doug.jpg', :width => '720px', :height => '320px'}
            %h1.headline
              Doug Yun
              %span Developer
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/duggieawesome', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/DougYun', :target => '_blank'}t
          %li
            #dan_c.scroll-to
            %img{:alt => 'Dan Crowther', :src => 'assets/people/dan_c.jpg', :width => '720px', :height => '320px'}
            %h1.headline
              Dan Crowther
              %span Sales
            %br
      .clear