%body#people
  .title
    .wrap
      %h1 People
  .content#brian
    .wrap
      .col1#fixed-nav
        %ul
          %li
            %a.scroll{:href => '#brian'} Brian Cardarella
          %li
            %a.scroll{:href => '#angelo'} Angelo Simeoni
          %li
            %a.scroll{:href => '#dan'} Dan McClain
          %li
            %a.scroll{:href => '#chris'} Chris Gill
          %li
            %a.scroll{:href => '#amanda'} Amanda Cheung
          %li
            %a.scroll{:href => '#doug'} Doug Yun
          %li
            %a.scroll{:href => '#dan_c'} Dan Crowther
      .col-span2
        %ul#team
          %li
            %img#brian-pic{:alt => 'Brian Cardarella', :src => 'assets/people/brian.jpg'}
            %h1.headline
              Brian Cardarella
              %span Partner
            %p
              At age 12, Brian began coding. By age 14, Brian had one of his games featured in Newsweek magazine. Since then, he's had papers published on large integer mathematics and has spent years learning programming languages and honing his craft. He is fluent in C/C++, Assembler (MASM), and TCL. But for the last several years, he's been a dedicated Rubyist. His portfolio of work spans enterprise business, a top start-up and an international political organization. Brian organizes The Boston Ruby Group and is active in the software community at large, and depending on the season, can be found either on a sail boat or a snowboard in his down time.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/bcardarella', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/bcardarella', :target => '_blank'}t
          %li
            #angelo.scroll-to
            %img#angelo-pic{:alt => 'Angelo Simeoni', :src => 'assets/people/angelo.jpg'}
            %h1.headline
              Angelo Simeoni
              %span Partner
            %p
              For over five years, Angelo has been crafting compelling interactions as an interactive designer. As partner at DockYard, Angelo strives to connect project needs with a fantastic user experience. Angelo can usually be found doing one of several things: rapidly prototyping the Next Big Thing, absorbing hand-crafted typography or kick-boxing at his dojo. So, don't mess around.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/cssboy', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/cssboy', :target => '_blank'}t
          %li
            #dan.scroll-to
            %img#dan-pic{:alt => 'Dan McClain', :src => 'assets/people/dan_m.jpg'}
            %h1.headline
              Dan McClain
              %span Developer
            %p
              Dan has been programming professionally for over five years. Dan began working with Ruby in 2010 after years as a .Net developer. Dan prides himself on his versatility and ability to assimilate new information and processes. He has spent time performing system administrator task and has managed both virtual and physical Linux servers. A black belt in Kenpo, Dan is confident he can take Angelo.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/danmcclain', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/_danmcclain', :target => '_blank'}t
          %li
            #chris.scroll-to
            %img#chris-pic{:alt => 'Chris Gill', :src => 'assets/people/chris.jpg'}
            %h1.headline
              Chris Gill
              %span Developer
            %p
              Chris is DockYard's Senior Software Engineer. He has over 10 years of experience of developing cellular, modular and
              %a{:href => 'http://www.youtube.com/watch?v=j5C6X9vOEkU', :target => '_blank'} interactive-odular
              systems that
              %span.italic
                actually
              work and can be maintained. Not shy with his opinions on technology or politics or with his barroom joke telling, Chris provides the levity that is so critical to any creative organization. Prior to joining DockYard, Chris was the Lead Developer at the Democratic National Committee, where he and his team developed core party infrastructure.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/gilltots', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/gilltots', :target => '_blank'}t
          %li
            #amanda.scroll-to
            %img#amanda-pic{:alt => 'Amanda Cheung', :src => 'assets/people/amanda.jpg'}
            %h1.headline
              Amanda Cheung
              %span Designer
            %p
              Originally educated in the Fine Arts, Amanda dabbled in political cartooning and editorial print design before realizing her interest in web development. As a designer and front end developer at DockYard, Amanda work's closely with colleagues and clients to make the abstract tangible. She is a lover of SASS, subtle textures and easter eggs, though not necessarily in that order.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/acacheung', :target => '_blank'}g
          %li
            #doug.scroll-to
            %img#doug-pic{:alt => 'Doug Yun', :src => 'assets/people/doug.jpg'}
            %h1.headline
              Doug Yun
              %span Developer
            %p
              Originally from Southern Oregon, Doug relocated to Boston for school and his love of music. During his time as an undergraduate, he began programming with Ruby as a hobby; and upon earning a B.S. in Physics, he decided to turn his hobby into a career. At DockYard, he is exposed to great software practices and growing as a developer. Doug enjoys writing music, riding bikes, reading sci-fi, and yelling inflammatory remarks to professional athletes on teams he roots against then running away as fast as he can.
            %ul
              %li.social-icon
                %a.github{:href => 'https://github.com/duggieawesome', :target => '_blank'}g
              %li.social-icon
                %a.twitter{:href => 'https://twitter.com/DougYun', :target => '_blank'}t
          %li
            #dan_c.scroll-to
            %img#dan_c-pic{:alt => 'Dan Crowther', :src => 'assets/people/dan_c.jpg'}
            %h1.headline
              Dan Crowther
              %span Biz Dev
            %p
              Dan has over five years of business development experience in the Boston area technology start up sector, advocating for and selling a host of SaaS offerings. As a core team member at Mimecast, Dan's work was vital in growing that company's portfolio and profile in the email management space. As the director of business development, Dan is charged with identifying potential clients and bringing them into the DockYard fold. In his spare time, Dan can usually be found on a basketball court, wherever he can find a pickup game. He lives in Boston with his fiance and their Guinea Pig, Sally. A former United States Marine, Dan
              %span.italic
                knows
              he can take "McClain!"
            %br
      .clear

:javascript
  konami = new Konami()
  konami.code = function() {
    $('#brian-pic').attr('src', '/assets/people/brian2.jpg');
    $('#dan-pic').attr('src', '/assets/people/dan_m2.jpg');
    $('#amanda-pic').attr('src', '/assets/people/amanda2.jpg');
    $('#doug-pic').attr('src', '/assets/people/doug2.jpg');
    $('#dan_c-pic').attr('src', '/assets/people/dan_c2.jpg');
    }
  konami.load()