%body#people
  .title
    .wrap
      %h1 People
  .content
    .wrap
      .col1
        %ul.team-names
          %li Brian Cardarella
          %li Angelo Simeoni
          %li Dan McClain
          %li Chris Gill
          %li Amanda Cheung
          %li Doug Yun
      .col-span2
        %ul
          %li
            %img{:alt => "Brian Cardarella", :src => "assets/brian.png"}
            %h1
              Brian Cardarella
              %span.position Partner
            %p Brian Cardarella, one of DockYard's partners, lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            .share-wrap
              %p.share Follow Brian on
              %ul
                %li
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %li
                  %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
          %li
            %img{:alt => "Angelo Simeoni", :src => "assets/angelo.png"}
            %h1
              Angelo Simeoni
              %span.position Partner
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            .share-wrap
              %p.share Follow Angelo on
              %ul
                %li
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %li
                  %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
          %li
            %img{:alt => "Dan McClain", :src => "assets/dan.png"}
            %h1
              Dan McClain
              %span.position Developer
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            .share-wrap
              %p.share Follow Dan on
              %ul
                %li
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %li
                  %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
          %li
            %img{:alt => "Chris Gill", :src => "assets/chris.png"}
            %h1
              Chris Gill
              %span.position Developer
            %p Brian Cardarella, one of DockYard's partners, lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            .share-wrap
              %p.share Follow Brian on
              %ul
                %li
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %li
                  %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
          %li
            %img{:alt => "Angelo Simeoni", :src => "assets/angelo.png"}
            %h1
              Amanda Cheung
              %span.position Designer
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            .share-wrap
              %p.share Follow Angelo on
              %ul
                %li
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %li
                  %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
          %li
            %img{:alt => "Dan McClain", :src => "assets/dan.png"}
            %h1
              Doug Yun
              %span.position Developer
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            .share-wrap
              %p.share Follow Dan on
              %ul
                %li
                  %a.github{:href => "https://github.com/dockyard/", :target => "_blank"}G
                %li
                  %a.twitter{:href => "https://twitter.com/dockyard", :target => "_blank"}t
      .clear