%body#people
  .title
    .wrap
      %h1 People
  .content
    .wrap
      .col1#fixed-nav
        %ul.team-names
          %li
            %a.scroll{:href => '#brian'} Brian Cardarella
          %li
            %a.scroll{:href => '#angelo'} Angelo Simeoni
          %li
            %a.scroll{:href => '#dan'} Dan McClain
          %li
            %a.scroll{:href => '#chris'} Chris Gill
          %li
            %a.scroll{:href => '#amanda'} Amanda Cheung
          %li
            %a.scroll{:href => '#doug'} Doug Yun
        %img.narwin-bw{:alt => 'Dockyard Narwin', :src => 'assets/narwin-bw.png'}
      .col-span2
        %ul
          %li
            #brian
            %img{:alt => 'Brian Cardarella', :src => 'assets/brian.png'}
            %h1.headline
              Brian Cardarella
              %span.job-title Partner
            %p Brian Cardarella, one of DockYard's partners, lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            %ul.follow
              %li
                %p Follow Brian on
              %li.social
                %a.github{:href => 'https://github.com/bcardarella', :target => '_blank'}G
              %li.social
                %a.twitter{:href => 'https://twitter.com/bcardarella', :target => '_blank'}t
          %li
            #angelo.scroll-to
            %img{:alt => 'Angelo Simeoni', :src => 'assets/angelo.png'}
            %h1.headline
              Angelo Simeoni
              %span.job-title Partner
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            %ul.follow
              %li
                %p Follow Angelo on
              %li.social
                %a.github{:href => 'https://github.com/cssboy', :target => '_blank'}G
              %li.social
                %a.twitter{:href => 'https://twitter.com/cssboy', :target => '_blank'}t
              %li.social
                %a.dribbble{:href => 'http://dribbble.com/cssboy', :target => '_blank'}d
          %li
            #dan.scroll-to
            %img{:alt => 'Dan McClain', :src => 'assets/dan.png'}
            %h1.headline
              Dan McClain
              %span.job-title Developer
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            %ul.follow
              %li
                %p Follow Dan on
              %li.social
                %a.github{:href => 'https://github.com/danmcclain', :target => '_blank'}G
              %li.social
                %a.twitter{:href => 'https://twitter.com/_danmcclain', :target => '_blank'}t
          %li
            #chris.scroll-to
            %img{:alt => 'Chris Gill', :src => 'assets/chris.png'}
            %h1.headline
              Chris Gill
              %span.job-title Developer
            %p Brian Cardarella, one of DockYard's partners, lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            %ul.follow
              %li
                %p Follow Chris on
              %li.social
                %a.github{:href => 'https://github.com/gilltots', :target => '_blank'}G
              %li.social
                %a.twitter{:href => '#', :target => '_blank'}t
          %li
            #amanda.scroll-to
            %img{:alt => 'Angelo Simeoni', :src => 'assets/angelo.png'}
            %h1.headline
              Amanda Cheung
              %span.job-title Designer
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            %ul.follow
              %li
                %p Follow Amanda on
              %li.social
                %a.github{:href => 'https://github.com/acacheung', :target => '_blank'}G
          %li
            #doug.scroll-to
            %img{:alt => 'Dan McClain', :src => 'assets/dan.png'}
            %h1.headline
              Doug Yun
              %span.job-title Developer
            %p Wolf delectus fugiat, next level american apparel kogi lorem ipsum tempor twee jean shorts, locavore vero irony craft beer adipisicing you probably haven't heard of them. +1 direct trade high life sint vero, typewriter chambray mcsweeney's hoodie minim accusamus master.
            %ul.follow
              %li
                %p Follow Doug on
              %li.social
                %a.github{:href => 'https://github.com/duggieawesome', :target => '_blank'}G
              %li.social
                %a.twitter{:href => '#', :target => '_blank'}t
      .clear