%body#people
  .title
    .wrap
      %h1 People
  .content
    .wrap
      %ul.team
        %li
          %h1 Brian Cardarella
          %img{:alt => "Brian Cardarella", :src => "assets/brian.png"}
          %h2 Partner / Developer
          %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li
          %h1 Angelo Simeoni
          %img{:alt => "Brian Cardarella", :src => "assets/angelo.png"}
          %h2 Partner / Designer
          %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li
          %h1 Dan McClain
          %img{:alt => "Brian Cardarella", :src => "assets/brian.png"}
          %h2 Developer
          %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li
          %h1 Chris Gill
          %img{:alt => "Brian Cardarella", :src => "assets/brian.png"}
          %h2 Developer
          %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li
          %h1 Amanda Cheung
          %img{:alt => "Brian Cardarella", :src => "assets/brian.png"}
          %h2 Designer
          %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        %li
          %h1 Doug Yun
          %img{:alt => "Brian Cardarella", :src => "assets/brian.png"}
          %h2 Developer
          %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .clear