%body#work
  .title
    .wrap
      %h1 Work
  .content
    .wrap
      %h1 RePurpose
      .details
        .col-span
          %p Pop-up irony hella mumblecore sriracha semiotics, keffiyeh anim laboris american apparel deserunt aesthetic. Ea echo park 3 wolf moon, irure mlkshk DIY sint. Bushwick ex tumblr ullamco. Fingerstache PBR brunch, ethical adipisicing keytar non.
          %p Put a bird on it letterpress mustache carles, helvetica master cleanse cred nulla street art vero quis iphone aliquip. Truffaut deserunt sed bushwick. Fugiat four loko helvetica laborum, semiotics selvage sriracha quis freegan ea brooklyn retro pour-over fixie velit.
          %a.site-link{:href => '#', :target => 'blank'} Visit RePurpose
        .col3
          .testimonial
            %p "Bespoke beard consequat, deserunt commodo umami laboris helvetica. Accusamus thundercats semiotics, veniam twee bushwick iphone put a bird on it placeat lomo skateboard velit occaecat."
            %p.author Tsedal Neeley
            %p.author Founder of Global Matters
      .slider
        %ul.slider-nav
          %li.prev
            %a{:href => '#'} Previous
          %li.next
            %a{:href => '#'} Next
        %ul.slides
          %li
            %img{:alt => "Tip", :src => "/assets/tip/tip1.png"}
          %li
            %img{:alt => "Tip", :src => "/assets/openbay/openbay2.png"}
          %li
            %img{:alt => "Tip", :src => "/assets/openbay/openbay3.png"}
      .work-nav
        %h1 Clients
        %ul
          %li.button
            %a{:href => '/work/openbay'} Openbay
          %li.button
            %a{:href => '/work/tip'} Tip
          %li.button
            %a{:href => '/work/repurpose'} RePurpose