%body#work
  .title
    .wrap
      %h1 Work
  .content
    .wrap
      %h1.headline
        Tip
        %span
          %a.site-link{:href => 'https://globalmattersim.com/', :target => 'blank'} Visit full site &gt;
      .details
        .col-span
          %p Pop-up irony hella mumblecore sriracha semiotics, keffiyeh anim laboris american apparel deserunt aesthetic. Ea echo park 3 wolf moon, irure mlkshk DIY sint. Bushwick ex tumblr ullamco. Fingerstache PBR brunch, ethical adipisicing keytar non.
          %p Put a bird on it letterpress mustache carles, helvetica master cleanse cred nulla street art vero quis iphone aliquip. Truffaut deserunt sed bushwick. Fugiat four loko helvetica laborum, semiotics selvage sriracha quis freegan ea brooklyn retro pour-over fixie velit.
        .col3

      .clear
      .slider
        %ul.slider-nav
          %li.prev
            %a{:href => '#'} Previous
          %li.next
            %a{:href => '#'} Next
        %ul.slides
          %li
            %img{:alt => "Tip", :src => "/assets/tip/tip1.png"}
          %li
            %img{:alt => "Tip", :src => "/assets/openbay/openbay2.png"}
          %li
            %img{:alt => "Tip", :src => "/assets/openbay/openbay3.png"}