%body#work
  .title
    %h1 Work
  .content
    .wrap
      .full
        %p
          Here is some of our latest work. Click a project below to view it in detail. We have worked on applications from start to launch as well as lorem ipsum dolor sit amet consectetur adipisicing elit. Need help on your project?
          %a{:href => '#'} Contact Us.
      .portfolio
        .col1
          %h1 Openbay
          %img{:alt => "Openbay", :src => "assets/openbay/thumb.png"}
          %p Matches consumers in the vehicle service industry with nearby providers.
          %ul
            %li Built first version of their product
            %li Custom invitation system
        .col2
          %h1 RePurpose
          %img{:alt => "RePurpose", :src => "assets/repurpose/thumb.png"}
          %p Matches consumers in the vehicle service industry with nearby providers.
          %ul
            %li Built first version of their product
            %li Custom invitation system
        .col3
          %h1 Tip
          %img{:alt => "RePurpose", :src => "assets/repurpose/thumb.png"}
          %p Matches consumers in the vehicle service industry with nearby providers.
          %ul
            %li Built first version of their product
            %li Custom invitation system