%body#work
  .title
    .wrap
      %h1 Work
  .content
    .wrap
      .callout
        %p We develop applications for clients that range from startups to established enterprises using Ruby on Rails and agile development. Take a look at our client work lorem ipsum  officia authentic vice.
      %ul.portfolio
        %li
          %a{:href => '/work/openbay'}
            %img{:alt => 'Openbay', :src => '/assets/openbay/openbay-thumb.png'}
        %li
          %a{:href => '/work/tip'}
            %img{:alt => 'Tip', :src => '/assets/tip/tip-thumb.png'}
        %li
          %a{:href => '/work/repurpose'}
            %img{:alt => 'RePurpose', :src => '/assets/repurpose/repurpose-thumb.png'}
        %li
          %a{:href => '#'}
            %img{:alt => 'Power Careers', :src => '/assets/powercareers/powercareers-thumb.png'}
        %li
          %a{:href => '#'}
            %img{:alt => 'Provider Tool', :src => '/assets/openbay/openbay-thumb.png'}
        %li.coming
          %a
            %div
              %h1 Coming Soon!
      .clear