%body#work
  .title
    .wrap
      %h1 Work
  .work-nav
    .wrap
      %ul
        %li
          %a.scroll{:href => '#openbay'} Openbay
        %li
          %a.scroll{:href => '#repurpose'} rePurpose
        %li
          %a.scroll{:href => '#provider'} Provider Tool
        %li
          %a.scroll{:href => '#tip'} Tip of the Iceberg
  .content
    .wrap
      .portfolio
        //Activate jquery cycle for widths less than 980px
        .slider-go
          %ul
            %li
              #openbay
              %h1.headline
                Openbay
                %span.italic 
                  %a{:href => 'http://openbay.com/', :target => '_blank'}View full site
              .slider
                %ul.slider-nav
                  %li.prev
                    %a{:href => '#'} l
                  %li.next
                    %a{:href => '#'} i
                %ul.slides
                  %li
                    %img{:alt => 'Openbay', :src => '/assets/openbay/openbay.jpg'}
                  %li
                    %img{:alt => 'Openbay', :src => '/assets/openbay/openbay2.jpg'}
                  %li
                    %img{:alt => 'Openbay', :src => '/assets/openbay/openbay3.jpg'}
            %li#repurpose.scroll-to
              %h1.headline
                rePurpose
                %span.italic 
                  %a{:href => 'http://repurpose.workersvoice.org', :target => '_blank'}View full site
              .slider
                %ul.slider-nav
                  %li.prev
                    %a{:href => '#'} l
                  %li.next
                    %a{:href => '#'} i
                %ul.slides
                  %li
                    %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose.jpg'}
                  %li
                    %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose2.jpg'}
            %li#provider.scroll-to
              %h1.headline
                Provider Tool
              .slider
                %ul.slider-nav
                  %li.prev
                    %a{:href => '#'} l
                  %li.next
                    %a{:href => '#'} i
                %ul.slides
                  %li
                    %img{:alt => 'Provider Tool', :src => '/assets/provider/provider.jpg'}
                  %li
                    %img{:alt => 'Provider Tool', :src => '/assets/provider/provider2.jpg'}
            %li#tip.scroll-to
              %h1.headline
                Tip of the Iceberg
              .slider
                %ul.slider-nav
                  %li.prev
                    %a{:href => '#'} l
                  %li.next
                    %a{:href => '#'} i
                %ul.slides
                  %li
                    %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip.jpg'}
                  %li
                    %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip2.jpg'}
        //Stop jquery cycle for widths less than 980px
        .slider-stop
          %ul
            %li
              #openbay
              %h1.headline
                Openbay
                %span.italic 
                  %a{:href => 'http://openbay.com/', :target => '_blank'}View full site
              .slider
                %ul.slider-nav
                  %li.prev
                    %a{:href => '#'} l
                  %li.next
                    %a{:href => '#'} i
                %ul.slides
                  %li
                    %img{:alt => 'Openbay', :src => '/assets/openbay/openbay.jpg'}
                  %li
                    %img{:alt => 'Openbay', :src => '/assets/openbay/openbay2.jpg'}
                  %li
                    %img{:alt => 'Openbay', :src => '/assets/openbay/openbay3.jpg'}
            %li#repurpose.scroll-to
              %h1.headline
                rePurpose
                %span.italic 
                  %a{:href => 'http://repurpose.workersvoice.org', :target => '_blank'}View full site
              .slider
                %ul.slider-nav
                  %li.prev
                    %a{:href => '#'} l
                  %li.next
                    %a{:href => '#'} i
                %ul.slides
                  %li
                    %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose.jpg'}
                  %li
                    %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose2.jpg'}
            %li#provider.scroll-to
              %h1.headline
                Provider Tool
              .slider
                %ul.slider-nav
                  %li.prev
                    %a{:href => '#'} l
                  %li.next
                    %a{:href => '#'} i
                %ul.slides
                  %li
                    %img{:alt => 'Provider Tool', :src => '/assets/provider/provider.jpg'}
                  %li
                    %img{:alt => 'Provider Tool', :src => '/assets/provider/provider2.jpg'}
            %li#tip.scroll-to
              %h1.headline
                Tip of the Iceberg
              .slider
                %ul.slider-nav
                  %li.prev
                    %a{:href => '#'} l
                  %li.next
                    %a{:href => '#'} i
                %ul.slides
                  %li
                    %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip.jpg'}
                  %li
                    %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip2.jpg'}
      .clear
