%body#work
  .title
    .wrap
      %h1 Work
  .work-nav
    .wrap
      %ul
        %li
          %a.scroll{:href => '#openbay'} Openbay
        %li
          %a.scroll{:href => '#repurpose'} RePurpose
        %li
          %a.scroll{:href => '#provider'} Provider Tool
        %li
          %a.scroll{:href => '#tip'} Tip of the Iceberg
  .content
    .portfolio
      %ul
        %li.project
          #openbay
            %h1.headline
              Openbay
            .description
              %span
                %a.underline{:href => 'http://openbay.com/', :target => '_blank'} Openbay
              matches consumer vehicle repair and maintenance needs with a network of local auto repair shops. Using Openbay’s online marketplace, members can submit service requests and compare competitive service offers customized to fit their needs. DockYard rapidly built the
              %span
                %a.underline{:href => 'http://en.wikipedia.org/wiki/Minimum_viable_product', :target => '_blank'} MVP
              using Ruby on Rails, Backbone.js, and Stripe for payment processing.
            .slider#openbay-gallery-slider
              %ul
                %li
                  %img{:alt => 'Openbay', :src => '/assets/openbay/openbay.jpg'}
                %li
                  %img{:alt => 'Openbay', :src => '/assets/openbay/openbay2.jpg'}
                %li
                  %img{:alt => 'Openbay', :src => '/assets/openbay/openbay3.jpg'}
            .mobile-landing-gallery-control
              %a.slider-prev{:href => "#", 'data-slider' => 'openbay-gallery-slider'} l
              %a.slider-next{:href => "#", 'data-slider' => 'openbay-gallery-slider'} i
            .testimonial
              %p.testimonial-quote
                &ldquo;If you have development project that involves Rails, I highly recommend you reach out to the team at DockYard. Efficient approach to problem solving, fast development cycles, high quality workmanship and are very attentive to the customer.&rdquo;
              .triangle
              %p.testimonial-writer
                %strong.bold Robert Infantino
                %br Founder and CEO
                Openbay, Inc.
        %li#repurpose.project.scroll-to
          %h1.headline
            RePurpose
          .description
            %span
              %a.underline{:href => 'http://repurpose.workersvoice.org', :target => '_blank'} RePurpose 
              is a tool designed to “gamify” political activity and involvement. Built by DockYard for Workers’ Voice (the AFL-CIO’s SuperPAC), RePurpose allows users to make key decisions on how Workers’ Voice directs its program. DockYard coordinated with multiple political data providers (NGP VAN, Amicus, Salsa, Revent) to build a political application that is the first of its kind.
          .slider#repurpose-gallery-slider
            %ul
              %li
                %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose.jpg'}
              %li
                %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose2.jpg'}
          .mobile-landing-gallery-control
            %a.slider-prev{:href => "#", 'data-slider' => 'repurpose-gallery-slider'} l
            %a.slider-next{:href => "#", 'data-slider' => 'repurpose-gallery-slider'} i
          .testimonial
            %p.testimonial-quote
              &ldquo;DockYard built our new RePurpose tool that we just launched. The underlying system aggregates data from 3 separate vendor systems into a centralized platform, and assigns points to users based upon that data. With an incredibly tight timeline and schedule, DockYard went above and beyond and did everything we asked of them. Even with changing requirements, multiple stakeholders, and complex politics - DockYard handled everything with a smile and delivered on time or better. An absolute pleasure to work with them.&rdquo;
            .triangle
            %p.testimonial-writer
              %strong.bold Mike Sager
              %br Political Technology Director
              AFL-CIO / Workers&rsquo; Voice
        %li#provider.project.scroll-to
          %h1.headline
            Provider Tool
          .description
            Provider Tool is an interactive medical decision tree that doctors may use with their patients to quickly aid their decision-making. DockYard was hired by the Informed Medical Decisions Foundation to create a custom CMS using Ruby on Rails and Backbone.js.
          .slider#provider-gallery-slider
            %ul.slides
              %li
                %img{:alt => 'Provider Tool', :src => '/assets/provider/provider.jpg'}
              %li
                %img{:alt => 'Provider Tool', :src => '/assets/provider/provider2.jpg'}
          .mobile-landing-gallery-control
            %a.slider-prev{:href => "#", 'data-slider' => 'provider-gallery-slider'} l
            %a.slider-next{:href => "#", 'data-slider' => 'provider-gallery-slider'} i
          .testimonial
            %p.testimonial-quote
              &ldquo;We hired DockYard to develop a web-based application and found them to be fast, efficient, and effective. Everyone we worked with was professional and personable and communication between team members was seamless. We were impressed at how flexible they were in accommodating our requests and ensuring that the application met our needs and would definitely work with them again in the future.&rdquo;
            .triangle
            %p.testimonial-writer
              %strong.bold Julie Riley
              %br Adult Learning &amp; Development Specialist
              Informed Medical Decisions Foundation
        %li#tip.project.scroll-to
          %h1.headline
            Tip of the Iceberg
          .description
            Tip of the Iceberg is a real-time chat application designed to foster and facilitate new learning and collaboration methods among university students and international businesses. Tip simulates the challenges of working in multi-lingual teams, which in turn causes native English speaking students to become cognizant of the challenges non-native English speakers face. DockYard built an EventMachine-backed real-time chat server that can scale up to 9,000 concurrent connections per instance.
          .slider#tip-gallery-slider
            %ul.slides
              %li
                %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip.jpg'}
              %li
                %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip2.jpg'}
          .mobile-landing-gallery-control
            %a.slider-prev{:href => "#", 'data-slider' => 'tip-gallery-slider'} l
            %a.slider-next{:href => "#", 'data-slider' => 'tip-gallery-slider'} i

:javascript
  $(function(){
    window.sliders = {}
    $('.slider').each(function(){
      var id = $(this).attr('id')
      sliders[id] = new Swipe(this, {
        speed: 500
      });
    });
    $('.slider-next').click(function(event){
      event.preventDefault();
      var $target = $(event.target);
      var sliderName = $target.attr('data-slider');
      sliders[sliderName].next();
    });
    $('.slider-prev').click(function(event){
      event.preventDefault();
      var $target = $(event.target);
      var sliderName = $target.attr('data-slider');
      sliders[sliderName].prev();
    });
  })