%body#work
  .title
    .wrap
      %h1 Work
  .work-nav
    .wrap
      %ul
        %li
          %a.scroll{:href => '#openbay'} Openbay
        %li
          %a.scroll{:href => '#repurpose'} rePurpose
        %li
          %a.scroll{:href => '#provider'} Provider Tool
        %li
          %a.scroll{:href => '#tip'} Tip of the Iceberg
  .content
    .wrap
      .portfolio
        %ul
          %li
            #openbay
            %h1.headline
              Openbay
              %span.italic 
                %a{:href => 'http://openbay.com/', :target => '_blank'}View full site
            .slider
              %ul.slider-nav
                %li.prev
                  %a{:href => '#'} r
                %li.next
                  %a{:href => '#'} n
              %ul.slides
                %li
                  %img{:alt => 'Openbay', :src => '/assets/openbay/openbay.jpg', :width => '980px', :height => '636px'}
                %li
                  %img{:alt => 'Openbay', :src => '/assets/openbay/openbay2.jpg', :width => '980px', :height => '636px'}
                %li
                  %img{:alt => 'Openbay', :src => '/assets/openbay/openbay3.jpg', :width => '980px', :height => '636px'}
            .proj-description
              %p 
                %span.bold Openbay
                aims to revolutionize the vehicle service industry. They provide an innovative way for consumers to match up services with nearby providers. This drives competition and helps consumers make informed purchasing decisions.
              %p 
                Dockyard worked with
                %span.bold Openbay
                to plan, build & launch the first version of their product. In addition to building the Openbay application, we built a custom invitation system to help get early users involved with the service.
          %li#repurpose.scroll-to
            %h1.headline
              rePurpose
              %span.italic 
                %a{:href => 'http://repurpose.workersvoice.org', :target => '_blank'}View full site
            .slider
              %ul.slider-nav
                %li.prev
                  %a{:href => '#'} r
                %li.next
                  %a{:href => '#'} n
              %ul.slides
                %li
                  %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose.jpg', :width => '980px', :height => '636px'}
                %li
                  %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose1.jpg'}
                %li
                  %img{:alt => 'rePurpose', :src => '/assets/repurpose/repurpose1.jpg'}
            .proj-description
              %p 
                %span.bold Openbay
                aims to revolutionize the vehicle service industry. They provide an innovative way for consumers to match up services with nearby providers. This drives competition and helps consumers make informed purchasing decisions.
              %p 
                Dockyard worked with
                %span.bold Openbay
                to plan, build & launch the first version of their product. In addition to building the Openbay application, we built a custom invitation system to help get early users involved with the service.
          %li#provider.scroll-to
            %h1.headline
              Provider Tool
              %span.italic 
                Full site (internal client project)
            .slider
              %ul.slider-nav
                %li.prev
                  %a{:href => '#'} r
                %li.next
                  %a{:href => '#'} n
              %ul.slides
                %li
                  %img{:alt => 'Provider Tool', :src => '/assets/provider/provider.jpg', :width => '980px', :height => '636px'}
                %li
                  %img{:alt => 'Provider Tool', :src => '/assets/repurpose/repurpose1.jpg'}
                %li
                  %img{:alt => 'Provider Tool', :src => '/assets/repurpose/repurpose1.jpg'}
            .proj-description
              %p 
                %span.bold Openbay
                aims to revolutionize the vehicle service industry. They provide an innovative way for consumers to match up services with nearby providers. This drives competition and helps consumers make informed purchasing decisions.
              %p 
                Dockyard worked with
                %span.bold Openbay
                to plan, build & launch the first version of their product. In addition to building the Openbay application, we built a custom invitation system to help get early users involved with the service.
          %li#tip.scroll-to
            %h1.headline
              Tip of the Iceberg
              %span.italic 
                %a{:href => 'http://globalmattersim.com', :target => '_blank'}View full site
            .slider
              %ul.slider-nav
                %li.prev
                  %a{:href => '#'} r
                %li.next
                  %a{:href => '#'} n
              %ul.slides
                %li
                  %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip.jpg', :width => '980px', :height => '636px'}
                %li
                  %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip1.jpg'}
                %li
                  %img{:alt => 'Tip of the Iceberg', :src => '/assets/tip/tip1.jpg'}
            .proj-description
              %p 
                %span.bold Openbay
                aims to revolutionize the vehicle service industry. They provide an innovative way for consumers to match up services with nearby providers. This drives competition and helps consumers make informed purchasing decisions.
              %p 
                Dockyard worked with
                %span.bold Openbay
                to plan, build & launch the first version of their product. In addition to building the Openbay application, we built a custom invitation system to help get early users involved with the service.
      .clear
