var message = $("<div class='message success' style='display:none'><%= flash[:success] -%></div>"),
    button = $('#new_contact').find('input:submit');
if (button.parent().find('.message')[0] == undefined) {
  button.before(message);
  message.slideDown(600);
}

