@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/box-shadow";
@import "blueprint";

/*
  font-family: utopia-std,serif;
  font-family: ff-meta-web-pro,sans-serif;
  font-family: league-gothic,sans-serif;
*/

body {
  color: #2a4954;
  background: #cfe5e4;
  font-family: ff-meta-web-pro, sans-serif;
}

a {
  color: #BA4F3A;
  text-decoration: none;
}

a:hover {
  color:  #E65C17;
  text-decoration: underline;
}

h1, h2 {
  color: #4A7588;
  font-family: league-gothic,sans-serif;
}

h1 {
  font-size: 48px;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 36px;
  margin: 0 0 20px 0;
}

h3 {
  font-weight: bold;
  margin: 0 0 10px 0;
}

p {
  line-height: 20px;
  margin: 0 0 10px 0;
}

ul {
  line-height: 20px;
}

header {
  color: #4A7588;
  background: #FFF;
  section {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    background: none;
//    background: url(/assets/anchor.png) 210px -175px no-repeat;
  }
  h1 {
    margin: 0;
    float: left;
    font-size: 96px;
  }
  ul {
    float: right;
    font-size: 24px;
    line-height: 36px;
    padding: 12px 0 0 0;
    li {
      float: left;
      margin: 0 0 0 20px;
    }
    li.last {
      clear: both;
      float: right;
      font-size: 16px;
      line-height: 36px;
      padding: 0 0 12px 0;
    }
  }
}

section {
  padding: 0;
  section {
    margin: 0;
    padding: 0;
    section {
      width: 960px;
      margin: 0 auto;
      padding: 20px 0;
      overflow: hidden;
      header {
        overflow: hidden;
        background: none;
        margin: 0 0 20px 0;
        h1 {
          margin: 0;
          float: left;
          font-size: 48px;
        }
        h2 {
          margin: 0;
          float: right;
          line-height: 48px;
        }
      }
    }
  }
  #what-we-do, #how-we-work {
    background: rgba(255,255,255,.5);
    h1 {
      margin: 0;
      float: left;
    }
    article {
      float: right;
    }
    li {
      padding: 0 40px;
      display: inline;
      line-height: 48px;
      border-right: 1px solid rgba(0,0,0,.1);
    }
    li.last {
      border-right: none;
    }
  }
  #what-we-do section {
//    background: url(/assets/anchor.png) 210px -311px no-repeat;
  }
  #who-we-are, #community {
    background: rgba(255,255,255,.25);
    article {
      float: left;
      width: 440px;
      padding: 0 20px 0 0;
    }
  }
  #who-we-are {
    li {
      overflow: hidden;
      .photo {
        float: left;
        margin: 0 10px 0 0;
        img {
          width: 72px;
        }
      }
      .info {
        float: left;
        width: 358px;
      }
      .links {
        clear: both;
        li {
          display: inline-block;
        }      
      }
    }
  }
  #contact {
    section {
      background: url(/assets/anchor.png) 80% -60px no-repeat;
    }
    .input {
      padding: 14px 0 15px 0;
      border-bottom: 1px dashed rgba(0,0,0,.15);
    }
    label {
      width: 120px;
      display: inline-block;
      vertical-align: middle;
    }
    input {
      margin: 14px 0 0 130px;
    }
    div.string {
      width: 620px;
      input {
        margin: 0;
        width: 480px;
        border: none;
        background: #FFF;
        display: inline-block;
        vertical-align: middle;
      }
    }
    textarea {
      width: 700px;
      border: none;
      background: #FFF;
      display: inline-block;
      vertical-align: text-top;
    }
    .error {
      color: #FFF;
      padding: 2px 5px;
      background: #BA4F3A;
      vertical-align: middle;
    }
  }
}

footer {
  padding: 0 0 240px 0;
  section {
    width: 920px;
    padding: 20px;
    overflow: hidden;
    margin: 0 auto 20px auto;
  }
}

.message {
  font-size: 20px;
  margin-bottom: 20px;
}

.success {
  color: #5fcc29;
}

form input, form textarea, form label {
  padding: 5px;
  font-size: 16px;
}

div.field_with_errors div.ui-effects-wrapper {
  display: inline-block !important;
}

.anchor {
  top: 0;
  left: 0px;
  width: 159px;
  height: 356px;
  position: absolute;
  background: url(/assets/anchor.png) 0 0 no-repeat;
}