@import "compass/reset";
@import "compass/utilities";
@import "compass/css3/box-shadow";
@import "blueprint";

/*
  font-family: utopia-std,serif;
  font-family: ff-meta-web-pro,sans-serif;
  font-family: league-gothic,sans-serif;
*/

body {
  color: #2a4954;
  background: #cfe5e4;
  font-family: ff-meta-web-pro, sans-serif;
}

a {
  color: #BA4F3A;
  text-decoration: none;
}

a.current, a.current:hover {
  color: #2a4954;
}

a:hover {
  color:  #E65C17;
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: league-gothic,sans-serif;
  -webkit-mask-image: url(/assets/mask2.png);
  -o-mask-image: url(/assets/mask2.png);
  -moz-mask-image: url(/assets/mask2.png);
  mask-image: url(/assets/mask2.png);
}

h1 {
  color: #2A5568;
  font-size: 48px;
  margin: 0 0 20px 0;
}

h2, h3 {
  color: #4A7588;
  font-size: 36px;
  margin: 0 0 20px 0;
}

p {
  line-height: 20px;
  margin: 0 0 20px 0;
}

ul {
  line-height: 20px;
}

@mixin content-typography {
  ul {
    list-style: square;
    margin: 0 0 10px 30px;
  }
  ol {
    list-style: decimal;
    margin: 0 0 10px 30px;
  }
  li {
    float: none;
    line-height: 20px;
  }
  h3 {
    font-size: 24px;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
}

header {
  color: #4A7588;
  background: #FFF;
  section {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    background: none;
  }
  h1 {
    margin: 0;
    float: left;
    font-size: 96px;
  }
  ul {
    float: right;
    font-size: 24px;
    line-height: 96px;
    li {
      margin: 0;
      float: left;
      a {
        padding: 0 0 0 40px;
      }
    }
    li.last {
      clear: both;
      float: right;
      font-size: 16px;
      margin: -24px 0 0 0;
      line-height: 1;
    }
  }
}

section {
  padding: 0;
  #who-we-are section {
    padding: 20px 0 0 0;
  }
  section {
    margin: 0;
    padding: 0;
    section {
      width: 960px;
      margin: 0 auto;
      padding: 20px 0;
      overflow: hidden;
      header {
        overflow: hidden;
        background: none;
        margin: 0 0 20px 0;
        h2 {
          margin: 0;
          float: left;
        }
        h3 {
          margin: 0;
          float: right;
        }
      }
    }
  }
  #what-we-do, #how-we-work {
    background: rgba(255,255,255,.5);
    h1 {
      margin: 0;
      float: left;
    }
    nav {
      float: right;
    }
    li {
      float: left;
      line-height: 48px;
      a {
        float: left;
        padding: 0 30px;
        &:hover {
          background: #CFE5E4;
        }
        &.current {
          background: #FFF;
        }
      }
    }
    article {
      clear: both;
      background: #FFF;
      overflow: hidden;
      padding: 20px 20px 0 20px;
      @include content-typography;
    }
  }
  #who-we-are, #community {
    background: rgba(255,255,255,.25);
    article {
      float: left;
      width: 480px;
    }
  }
  #who-we-are {
    .about-dockyard {
      width: 460px;
      padding: 0 20px 0 0;
    }
    li {
      float: left;
      width: 460px;
      overflow: hidden;
      background: #FFF;
      margin: 0 0 20px 0;
      padding: 10px 10px 0 10px;
      &.even {
        width: 440px;
        margin: 0 20px 20px 0;
        .info {
          width: 358px;
        }
      }
      .photo {
        float: left;
        margin: 0 10px 0 0;
        img {
          width: 72px;
        }
        .social {
          li {
            padding: 0;
            float: left;
            width: auto;
            background: none;
            // <http://paulrobertlloyd.com/2009/06/social_media_icons>
            // 
            // Licenced under a Attribution-Share Alike 2.0 UK: England &
            // Wales Licence. I claim no right of ownership to the company
            // logos used in these icons.
            // <http://creativecommons.org/licenses/by-sa/2.0/uk/>
            &.github a {
              background: url(/assets/icons/github-32x32.png) 0 0 no-repeat;
            }
            &.twitter a {
              margin: 4px 8px 0 0;
              background: url(/assets/icons/twitter-32x32.png) 0 0 no-repeat;
            }
            a {
              float: left;
              width: 32px;
              height: 32px;
              margin: 4px 0 0 0;
              text-indent: -9999px;          
            }
          }
        }
      }
      .info {
        float: left;
        width: 378px;
        h3 {
          font-size: 16px;
          font-weight: bold;
          margin: 0 0 10px 0;
          font-family: ff-meta-web-pro, sans-serif;
        }
      }
    }
  }
  #contact {
    .input {
      padding: 14px 0 15px 0;
      border-bottom: 1px dashed rgba(0,0,0,.15);
    }
    label {
      width: 120px;
      display: inline-block;
      vertical-align: middle;
    }
    input {
      margin: 14px 0 0 130px;
    }
    div.string {
//      width: 620px;
      input {
        margin: 0;
        width: 480px;
        border: none;
        background: #FFF;
        display: inline-block;
        vertical-align: middle;
      }
    }
    textarea {
      width: 700px;
      border: none;
      background: #FFF;
      display: inline-block;
      vertical-align: text-top;
    }
    .error {
      color: #FFF;
      padding: 2px 5px;
      background: #BA4F3A;
      vertical-align: middle;
    }
  }
}

footer {
  color: #4A7588;
  padding: 20px 0;
  background: rgba(255,255,255,.25);
  section {
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
    background: none;
    p {
      margin: 0;
      float: left;
    }
    nav {
      margin: 0;
      float: right;
      li {
        float: left;
        margin: 0 0 0 20px;
      }
    }
  }
}

.message {
  font-size: 20px;
  margin-bottom: 20px;
}

.success {
  color: #5fcc29;
}

form input, form textarea, form label {
  padding: 5px;
  font-size: 16px;
}

div.field_with_errors div.ui-effects-wrapper {
  display: inline-block !important;
}

.anchor {
  top: 0;
  left: 0px;
  width: 159px;
  height: 356px;
  position: absolute;
  background: url(/assets/anchor.png) 0 0 no-repeat;
}