$red: #F05051
$blue: #2A5567
$gray: #E6E7E8
$white: #FFFFFF
$l-blue: #ABD4E7

#community
  .content
    .col3
      a
        color: $blue
        text-decoration: underline
        &:hover
          color: $red
    .colspan
      width: 680px
      float: left
      ul
        text-align: center
        li a
          float: left
          width: 316px
          height: 90px
          padding: 1em 0
          margin: 0 16px 16px 0
          background-color: rgba(171, 212, 231,.2)
          border:
            color: darken($l-blue, 5%)
            width: 1px
            style: solid
          &:hover
            background-color: rgba(171, 212, 231,.4)
          h1
            font:
              family: georgia
              weight: bold
              style: italic
              size: 1.25em
          p
            padding: 0 1em
