@import compass/css3

$red: #F05051
$blue: #2A5567
$l-blue: #ABD4E7

.no-rgba #community .colspan ul li a
  background-color: lighten(#D5E1E7, 1%)
  &:hover
    background-color: #C9DEE7

#community
  .content
    .headline
      margin-bottom: .25em
    .col3
      a
        color: $blue
        text-decoration: underline
        &:hover
          color: $red
      @media (max-width: 1100px)
        position: relative
        top: 1em
        padding-bottom: 2em
        width: 100%
    .colspan
      width: 680px
      float: left
      @media (max-width: 1100px)
        width: 100%
      ul
        text-align: center
        .os-icon
          font:
            family: fontello
            size: 4.6em
          position: absolute
          line-height: 110px
          text-align: center
          color: $blue
          opacity: .2
          margin-left: .35em
          @media (max-width: 1100px)
            font-size: 4em
          @media (max-width: 1030px)
            margin-left: 5%
          @media (max-width: 780px)
            display: none
        .capybara-email
          font-size: 3.9em
        .pages
          font-size: 5em
        .sail-plan
          font-size: 4.2em
        li a
          +box-sizing(border-box)
          float: left
          width: 312px
          @media (max-width: 1100px)
            width: 31.5%
          @media (max-width: 1030px)
            width: 48%
          @media (max-width: 780px)
            width: 46.5%
          @media (max-width: 650px)
            width: 100%
          height: 145px
          padding: 1em 0
          margin: 0 12px 12px 0
          background-color: rgba($l-blue, .3)
          border:
            color: darken($l-blue, 5%)
            width: 1px
            style: solid
          &:hover
            background-color: rgba($l-blue, .5)
          .os-desc
            width: 190px
            float: right
            margin-right: 18px
            @media (max-width: 1030px)
              float: none
              margin-left: 35%
            @media (max-width: 780px)
              margin: 0 auto
            h1
              font:
                family: georgia
                weight: bold
                style: italic
                size: 1.25em    