$red: #F05051
$blue: #2A5567
$gray: #E6E7E8
$white: #FFFFFF

#community
  .content
    h2
      color: $blue
      font:
        family: cubano
        size: 2.5em
    .open-source
      float: left

