@import compass/css3

$l-blue: #ABD4E7
$white: #FFFFFF
$gray: #E8E8E8
$blue: #2A5567
$red: #F05051


    
#contact
  .content
    .col1
      margin-top: 3.5em
    .col3
      width: 200px
      position: relative
      left: -7.5em
      img
        margin-top: 3.75em
        border:
          style: solid
          color: darken($gray, 15%)
          width: 1px
      .address
        width: 150px
        display: block
        font-weight: bold
        &:hover
          text-decoration: underline
    .headline
      margin-bottom: .25em
    form
      div
        margin: 0 0 .5em
        &.text span.error
          top: .3em
      label
        margin-right: 1.5em
        font-weight: bold
        display: none
      textarea:focus, input:focus
        outline: none
        border: 1px solid $blue
      textarea, input
        width: 350px
        font:
          family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
          size: .75em
      textarea
        height: 150px
        margin: 2px 0 -.25em 0
        padding: 10px
        resize: none
        border:
          style: solid
          color: darken($gray, 15%)
          width: 1px
      input
        border-style: none
        padding: 10px
        border:
          style: solid
          color: darken($gray, 15%)
          width: 1px
      .error
        z-index: 5000
        background-color: $red
        position: relative
        top: .08em
        color: $white
        padding: 8px 10px 9px
        margin-left: -.05em
        border:
          style: solid
          color: darken($gray, 15%)
          width: 1px
      div.text span.error
        top: -9.05em
      .submit
        background-color: $blue
        border-style: none
        border-radius: 8px
        margin: .5em 0 1.5em
        color: $white
        width: 370px
        cursor: pointer
        font:
          family: georgia
          size: 1.5em
          style: italic
          weight: bold
        &:hover
          background-color: lighten($blue, 8%)


@-moz-document url-prefix()
  #contact .content form div.text span.error
    top: -8.8em
  #contact .col1
    width: 200px