@import compass/css3

$blue: #2A5567
$l-blue: #ABD4E7
$white: #FFFFFF
$gray: #E6E7E8
$red: #F05051

#contact
  .content
    margin-bottom: 1em
    .col1
      margin-top: 4em
      .contact-icon
        font:
          family: fontello
          size: 1.35em
        color: $blue
        float: left
        margin-top: -.2em
        width: 30px
    p
      margin-bottom: 1em
    h2
      font:
        weight: bold 
    li
      margin: 0 0 1em
    label
      position: relative
      top: .25em
      color: darken($gray, 20%)
      text-shadow: $white .5px 1px 0px
      font:
        family: poly
        style: italic
        size: 1.25em
    input
      border-style: none
      width: 350px
      float: right
      margin-right: 18%
      padding: 10px
      border:
        style: solid
        color: darken($gray, 15%)
        width: 1px
    textarea
      border-style: none
      width: 350px
      height: 200px
      margin-right: 18%
      padding: 10px
      float: right
      resize: none
      border:
        style: solid
        color: darken($gray, 15%)
        width: 1px
    .submit
      background-color: $l-blue
      border-style: none
      margin-top: 1em
      color: $white
      margin-right: 18%
      width: 370px
      font:
        family: cubano
        size: 1.5em
      &:hover
        background-color: lighten($l-blue, 5%)
    .phone
      margin-bottom: 1em
    .address
      margin-bottom: 1em








