@import compass/reset
@import compass/css3

$red: #F05051
$blue: #2A5567
$gray: #E6E7E8
$white: #FFFFFF

$helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif

@font-face
  font-family: cubano
  src: url('/assets/cubano.eot')
  src: url('/assets/cubano.eot?#iefix') format("embedded-opentype"), url('/assets/cubano.woff') format("woff"), url('/assets/cubano.svg') format('svg')
  font-weight: normal

@font-face
  font-family: leaguegothic
  src: url('/assets/leaguegothic.eot')
  src: url('/assets/leaguegothic.eot?#iefix') format('embedded-opentype'), url('/assets/leaguegothic.woff') format('woff'), url('/assets/leaguegothic.svg') format('svg')
  font-weight: normal

@font-face
  font-family: justvector
  src: url('/assets/justvector.eot')
  src: url('/assets/justvector.eot?#iefix') format('embedded-opentype'), url('/assets/justvector.woff') format('woff'), url('/assets/justvector.svg') format('svg')
  font-weight: normal

body
  background:
    image: url(/assets/wave.png)
    repeat: repeat
  line-height: 1.5

.wrap
  width: 980px
  margin: 0 auto
.full
  margin-bottom: 1em
  padding: 2em 8em
  border:
    bottom-style: solid
    color: #ABD4E7
    width: 1px
  p
    text-align: center
    font:
      family: georgia
      weight: bold
      size: 1.1em  
.col-span
  width: 640px
  float: left
  .site-link
    font:
      family: georgia
      weight: bold
      style: italic
    color: $blue
    font-weight: bold
    text-decoration: none
    padding-bottom: .2em
    border-bottom:
      style: solid
      color: $white
      width: 1px
    &:hover
      border-bottom-color: $blue
.col-span2
  width: 640px
  float: right
.col1
  width: 300px
  float: left
  margin-right: 40px
.col2
  width: 300px
  float: left
  margin-right: 40px
.col3
  width: 300px
  float: right

.bold
  font-weight: bold
  
.title h1
  color: $gray
  font:
    family: cubano
    size: 8em
  z-index: -5
  position: absolute
  top: .15em
  line-height: 1
  
.content
  position: relative
  top: 5em
  padding: .75em 0
  font-family: $helvetica
  background-color: $gray
  

.clear
  clear: both