@import compass/reset
@import compass/css3

$red: #F05051
$blue: #2A5567
$gray: #E6E7E8
$white: #FFFFFF

$helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif

@font-face
  font-family: cubano
  src: url('/assets/cubano.eot')
  src: url('/assets/cubano.eot?#iefix') format("embedded-opentype"), url('/assets/cubano.woff') format("woff"), url('/assets/cubano.svg') format('svg')
  font-weight: normal

@font-face
  font-family: leaguegothic
  src: url('/assets/leaguegothic.eot')
  src: url('/assets/leaguegothic.eot?#iefix') format('embedded-opentype'), url('/assets/leaguegothic.woff') format('woff'), url('/assets/leaguegothic.svg') format('svg')
  font-weight: normal

@font-face
  font-family: justvector
  src: url('/assets/justvector.eot')
  src: url('/assets/justvector.eot?#iefix') format('embedded-opentype'), url('/assets/justvector.woff') format('woff'), url('/assets/justvector.svg') format('svg')
  font-weight: normal

body
  background:
    image: url(/assets/wave.png)
    repeat: repeat
  line-height: 1.5

.content
  position: relative
  top: 5em
  padding: .75em 0
  font-family: $helvetica
  background-color: $gray

.wrap
  width: 980px
  margin: 0 auto

.clear
  clear: both

.col-span
  width: 640px
  float: left
  

.col-span2
  width: 640px
  float: right

.col1
  width: 300px
  float: left
  margin-right: 40px

.col2
  width: 300px
  float: left
  margin-right: 40px

.col3
  width: 300px
  float: right

.bold
  font-weight: bold
  
.title h1
  color: $gray
  font:
    family: cubano
    size: 8em
  z-index: -5
  position: absolute
  top: .15em
  line-height: 1

.headline
  color: $blue
  font:
    family: cubano
    size: 2.5em










