html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

@font-face
  font-family: cubano
  src: url('/assets/cubano.eot')
  src: url('/assets/cubano.eot?#iefix') format("embedded-opentype"), url('/assets/cubano.woff') format("woff"), url('/assets/cubano.svg') format('svg')

@font-face
  font-family: leaguegothic
  src: url('/fonts/leaguegothic.eot')
  src: url('/fonts/leaguegothic.eot?#iefix') format('embedded-opentype'), url('/fonts/leaguegothic.woff') format('woff'), url('/fonts/leaguegothic.svg') format('svg')

@font-face
  font-family: justvector
  src: url('/fonts/justvector.eot')
  src: url('/fonts/justvector.eot?#iefix') format('embedded-opentype'), url('/fonts/justvector.woff') format('woff'), url('/fonts/justvector.svg') format('svg')

$red: #F05051
$blue: #2A5567
$gray: #E6E7E8

.wrap
  width: 980px
  margin: 0 auto