@import compass/css3

$blue: #2A5567
$l-blue: #ABD4E7
$white: #FFFFFF
$red: #F05051

$helvetica: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif

@-moz-document url-prefix()
  footer .copyright
    top: 5px

footer
  padding-top: 7.5em
  height: 6em
  clear: both
  text-align: center
  a
    background-color: $blue
    color: $white
    &:hover
      background-color: $red
      
  ul li
    position: relative
    display: inline-block
    margin: 0 10px
    p
      position: relative
      top: -1em
  .footer-text
    line-height: .35
    position: relative
    top: -.35em
    p
      margin-bottom: 0
    a
      background-color: transparent
      color: $blue
      font:
        family: $helvetica
        size: 1em
        weight: bold
      text-align: center
      font-size: 1em
      width: 385px
      &:hover
        color: $red
        text-decoration: underline
#home footer
  padding-top: 3em
  background-color: darken($blue, 9%)
  a
    background-color: $l-blue
    color: darken($blue, 9%)
    &:hover
      background-color: $white
  p
    color: $white
  .footer-text
    a
      background-color: transparent
      color: $white