@import compass/css3

$blue: #2A5567
$white: #FFFFFF
$gray: #E6E7E8
$red: #F05051

footer
  clear: both
  text-align: center
  ul
    padding: 70px 0
    li
      position: relative
      display: inline-block
      margin: 0 10px
      a
        font:
          family: justvector
          size: 2em
        text-decoration: none
        position:relative
        width: 40px
        height: 40px
        border-radius: 50%
        display: block
      .twitter
        line-height: 45px
      .github
        line-height: 40px
      p
        position: relative
        top: -.25em
        font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
#home footer
  background-color: #204653
  a
    background-color: #ABD4E7
    color: $blue
    &:hover
      background-color: $white
  p
    color: $white
#work footer
  background-color: $gray
  a
    background-color: $blue
    color: $gray
    &:hover
      background-color: $red
  p
    color: $blue