$red: #F05051
$white: #FFFFFF

$helvetica: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif

header
  background-color: $red
  height: 50px
  a
    color: $white
    text-decoration: none
    padding: 10px 0
  .nav
    h1 a
      font:
        family: leaguegothic, helvetica, arial, sans-serif
        size: 2.15em
      float: left
    ul
      float: right
      padding-top: 24px
      li
        float: left
        a
          font:
            family: $helvetica
            weight: bold
            size: .8em
          padding: 24px 15px 10px
          &:hover
            background-color: lighten($red, 7%)