$red: #F05051
$white: #FFFFFF

header
  background-color: $red
  height: 50px
  a
    color: $white
    text-decoration: none
    padding: 10px 0
  .nav
    h1 a
      font-family: leaguegothic, helvetica, arial, sans-serif
      font-size: 2.15em
      font-weight: normal
      float: left
    ul
      float: right
      padding-top: 24px
      li
        float: left
        a
          font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
          font-weight: bold
          font-size: .8em
          padding: 24px 15px 10px
          &:hover
            background-color: #F28074