$red: #F05051
$white: #FFFFFF

.logo-small
  font: 2em leaguegothic
  color: $white
  line-height: 1.5
  position: relative
  top: .1em
@-moz-document url-prefix()
  .logo-small
    top: 0

#work li.nav-work, #people li.nav-people, #community li.nav-community, #contact li.nav-contact
  a
    background-color: lighten($red, 4%)

#mobile-header
  display: none

#site-header
  height: 48px
  background-color: $red
  a
    color: $white
  .nav
    h1
      float: left
      line-height: 1.5em
    ul
      float: right
      li
        float: left
        a
          font:
            size: .8em
            weight: bold
          padding: 19px 15px 10px
          float: left
          &:hover
            background-color: lighten($red, 7%)

@media (max-width: 650px)
  #site-header
    display: none
  #mobile-header
    display: block
    background-color: $red
    div
      display: block
      width: 90%
      margin: 0 auto
      color: $white
      .mobile-button
        font: 1.5em fontello
        text-align: right
        display: block
        position: absolute
        top: .25em
        right: 10%
        cursor: pointer
        padding-left: 2em
        line-height: 1.5
    ul
      width: 100%
      display: none
      text-align: center
      li
        position: relative
        display: inline-block
        width: 32%
        margin: 0 auto .35em
        a
          display: block
          color: $white
          position: relative
          background-color: lighten($red, 4%)
          padding: 1em 0
          text-align: center
          font-weight: bold
          &:active
            background-color: lighten($red, 7%)
          span
            font: 2em fontello
          p
            margin: 0