$red: #F05051
$blue: #2A5567
$gray: #E6E7E8
$white: #FFFFFF

@import compass/reset, compass/utilities, compass/css3, compass/css3/font-face, compass/typography/lists/horizontal-list

@mixin gradient
  +background-image(linear-gradient($blue, #204653))

#home 
  background:
    image: url(/assets/wave.png)
    repeat: repeat
    attachment: fixed
  .about 
    div
      width: 28em
      margin: 0 auto
      padding-top: 1em
      .narwin
        width: 135px
        height: 125px
        margin: 1em 0
        float: left
        background:
          image: url(/assets/narwin.png)
          repeat: no-repeat
          size: 135px 125px
        &:hover
          background-image: url(/assets/narwin2.png)
      h1
        color: $blue
        margin-top: 0.325em
        font:
          family: leaguegothic
          size: 7.25em
    p
      color: $blue
      text-align: center
      clear: both
      margin: 0 0 1em
      line-height: 1.5
      font:
        family: Georgia
        style: italic
        weight: bold
        size: 1em
  .circle 
    width: 46em
    height: 46em
    background: $white
    position: relative
    top: -23em
    border-radius: 23em
    margin: 0 auto -46em
    z-index: -5
  .gradient
    height: 450px
    background-color: $blue
    @include gradient
    color: $white
    line-height: 1.5
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
    a
      color: #ABD4E7
      font-weight: bold
    .full
      margin: 1em 0
      padding: 2em 4em
      border:
        bottom-style: solid
        color: #ABD4E7
        width: 1px
      p
        text-align: center
        font:
          family: Georgia
          weight: bold
          size: 1.25em
    h2
      font-family: cubano
      font-size: 2.5em
    li
      margin-bottom: 1em
/*
 .tide
    background:
      image: url(/assets/ocean.png)
      repeat: repeat-x
      attachment: fixed

