$red: #F05051
$blue: #2A5567
$gray: #E8E8E8
$white: #FFFFFF
$l-blue: #ABD4E7

@import compass/css3

.csstransforms, .cssanimations
  #tide
    background:
      image: url(/assets/ocean.png)
      attachment: fixed

.no-csstransforms, .no-cssanimations
  #home .about .dockyard .narwin
    background:
      image: url(/assets/narwin-ie.png)
  #tide
    background:
      image: url(/assets/ocean-ie.png)
      attachment: scroll
  .landing-gallery
    height: 23em
    background:
      image: url(/assets/gallery-landing-static.png)
      repeat: no-repeat
      position: center
    .home-wrapper img
      width: 100%
      height: auto
  #home-container
    display: none

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
  .touch
    #home
      #tide
        background-image: none
        background-color: $blue
        .landing-gallery
          background-color: $blue
          padding-top: 2em
          margin-top: 0
      #mobile-tide
        height: 30px
        background:
          image: url(/assets/mobile-tide.png)
          repeat: repeat-x

#home
  @media (max-width: 880px)
    background-image: none
  .about
    @media (max-width: 880px)
      padding-bottom: 1em
      margin: 0
    .dockyard
      width: 28em
      margin: 0 auto -2.5em
      padding-top: 1em
      .narwin
        background:
          image: url(/assets/narwin-sprite.png)
          repeat: no-repeat
          size: 270px 125px
          position: 0 0
        width: 135px
        height: 125px
        float: left
        &:hover
          background-position: 100% 0
          repeat: no-repeat
      h1
        font:
          family: leaguegothic
          size: 7.25em
        position: relative
        top: .025em
      @media (max-width: 550px)
        width: 21em
        .narwin
          background:
            size: 216px 100px
          width: 108px
          height: 100px
          margin: .25em 0 0
        h1
          font-size: 5.5em
          top: .1em
      @media (max-width: 360px)
        width: 18em
        .narwin
          background:
            size: 172.8px 80px
          width: 86.4px
          height: 80px
          margin: .25em 0 0
        h1
          font-size: 4.65em
    .callout
      width: 580px
      margin: 0 auto
      text-align: center
      clear: both
      padding: 1em 5em
      font:
        family: Georgia
        weight: bold
      p
        margin: .5em 0 0 0
      @media (max-width: 1000px)
        padding-bottom: .5em
        margin: 0 10%
        width: auto
      @media (max-width: 880px)
        margin: 0 5%
      @media (max-width: 680px)
        padding-top: .25em
        margin: 0
      @media (max-width: 550px)
        font-size: 14px
        margin: 0
        padding: 1em 3em 0
      @media (max-width: 360px)
        padding: 1em
  .circle 
    background: $white
    position: relative
    z-index: -5
    width: 50em
    height: 50em
    top: -23em
    +border-radius(25em)
    margin: 0 auto -50em
    @media (max-width: 1000px)
      width: 44em
      height: 44em
      top: -22em
      +border-radius(22em)
      margin: 0 auto -44em
    @media (max-width: 880px)
      display: none
  #tide
    height: 100%
    width: 100%
    position: relative
    background:
      repeat: repeat-x
  .landing-gallery
    margin: 1em auto 0
    padding-bottom: 2em
    position: relative
    .home-wrapper img
      width: 570px
      height: 392.5px
    @media (max-width: 1100px)
      transform: scale(.9, .9)
      -ms-transform: scale(.9, .9)
      -webkit-transform: scale(.9, .9)
      -o-transform: scale(.9, .9)
      -moz-transform: scale(.9, .9)
      margin-top: 0
      padding-bottom: 0
    @media (max-width: 1000px)
      transform: scale(.8, .8)
      -ms-transform: scale(.8, .8)
      -webkit-transform: scale(.8, .8)
      -o-transform: scale(.8, .8)
      -moz-transform: scale(.8, .8)
      position: relative
      top: -1em
    @media (max-width: 880px)
      transform: scale(.7, .7)
      -ms-transform: scale(.7, .7)
      -webkit-transform: scale(.7, .7)
      -o-transform: scale(.7, .7)
      -moz-transform: scale(.7, .7)
      top: -3em
    @media (max-width: 780px)
      transform: scale(.625, .625)
      -ms-transform: scale(.625, .625)
      -webkit-transform: scale(.625, .625)
      -o-transform: scale(.625, .625)
      -moz-transform: scale(.625, .625)
      top: -4.5em
    @media (max-width: 680px)
      display: none
  @media (max-width: 680px)
    #mobile-tide
      height: 30px
      background: url(/assets/mobile-tide.png) repeat-x
  .gradient
    padding-bottom: 2em
    color: $white
    background-color: $blue
    +background-image(linear-gradient($blue, darken($blue, 5%)))
    .headline
      color: $white
    #mobile-landing-gallery
      display: none
      @media (max-width: 680px)
        display: block
        position: relative
        top: 1em
        padding-bottom: 1em
        .headline
          margin-bottom: .5em
        img
          width: 90%
          height: auto
          margin-left: 5%
          +border-radius(3px)
        #slider
          position: relative
          top: .4em
          ul li
            display: none
            &:first-child
              display: block
        .mobile-landing-gallery-control
          text-align: center
          a
            color: $white
            font: 3em fontello
            opacity: .5
            line-height: .85
            &:hover
              opacity: 1
    h2
      font: 2.5em cubano, sans-serif
    li
      margin-bottom: 1em
      a
        color: $l-blue
        font-weight: bold
        text-decoration: underline
    .col1
      width: 43%
      margin-left: 4%
    .col3
      width: 43%
      margin-right: 2%
      .headline
        margin-top: .15em
      ul
        margin-top: .4em
    @media (max-width: 1000px)
      position: relative
      top: -2em
      margin-bottom: -2em
    @media (max-width: 880px)
      top: -5em
      margin-bottom: -5em
      padding-bottom: 5em
    @media (max-width: 780px)
      top: -8em
      margin-bottom: -8em
      .col1, .col3
        width: 100%
        margin: 0 auto
        float: none
        padding: 0
    @media (max-width: 680px)
      top: 0
      margin-bottom: 0
      .col1
        padding-top: 1em

@-moz-document url-prefix()
  #home .about .dockyard h1
    top: -.075em
    @media (max-width: 550px)
      top: 0


