@import compass/css3

$red: #F05051
$blue: #2A5567
$gray: #E8E8E8
$white: #FFFFFF
$l-blue: #ABD4E7

#mobile-landing-gallery
  display: none

/* Helvetica Neue Light needs to be corrected on apple non-desktop products
.touch
  #site-header .nav ul li a, #mobile-header nav ul li a p, footer .footer-text a, #home .gradient li a, #community .content .col3 a, #contact .content .col1 .bold, #contact .content .col3 a, #contact .content form .error
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
  .submit
    -webkit-border-radius: 8px
    -webkit-appearance: none

/* Smartphones (landscape) -----------
@media only screen and (max-width: 650px)
  .wrap
    width: 100%
  .content
    top: 0em

  #home, #people, #community, #contact
    .content, .gradient
      .col1, .col2, .col3, .col-span, .col-span2
        width: 90%
        margin: 0 auto
        float: none

  #people
    #fixed-nav
      display: none
    .headline
      font-size: 1.75em
    .content ul#team 
      ul
        float: none
        top: 0
        margin: 0 0 5em 0
      img
        width: 100%
        height: auto

/* Smartphones (portrait) -----------
@media only screen and (max-width: 320px)
  #people .content ul#team
    position: relative
    .headline
      text-align: center
    span
      text-align: center
      position: relative
      top: -.2em
      clear: both
      display: block
    ul
      float: left
      display: block
      left: 50%
      margin-bottom: 2em
      li
        position: relative
        float: left
        display: block
        right: 50%