@import compass/css3

$blue: #2A5567
$gray: #E8E8E8
$white: #FFFFFF
$red: #F05051

#people
  .content
    padding-top: 2em
    #fixed-nav
      margin-top: 18%
    #team
      span
        color: darken($gray, 20%)
        text-shadow: $white .5px 1px 0px
        font:
          family: poly, serif
          size: .75em
          style: italic
      ul
        color: darken($gray, 20%)
        margin: .5em 0 1em
        float: right
        position: relative
        top: -3.25em
        li
          float: left
          .italic
            margin: .25em .5em 0 0
      .social-icon a
        background-color: darken($gray, 15%)
        +box-shadow($white .5px 1px 0px)
        &:hover
          background-color: darken($gray, 10%)
  .scroll-to
    top: 2em

@-moz-document url-prefix()
  #people div.content #fixed-nav
    margin-top: 4%