$gray: #E8E8E8
$white: #FFFFFF

@mixin engrave
  color: darken($gray, 20%)
  text-shadow: $white .5px 1px 0px

.slider
  border:
    color: darken($gray, 15%)
    width: 1px
    style: solid
  clear: both
  width: 980px
  height: 636px
  position: relative
  margin: .25em 0 .75em
  z-index: 5
  .slider-nav
    position: relative
    top: 260px
    z-index: 10
    a
      @include engrave
      font:
        family: fontello
        size: 4em
      opacity: .5
      &:hover
        opacity: 1
    .prev
      float: left
      margin: 0 0 0 -3.25em
      
    .next
      float: right
      margin: 0 -3.25em 0 0