.slider
  clear: both
  width: 980px
  height: 640px
  position: relative
  z-index: 5
  .slider-nav
    display: none
    position: relative
    top: 210px
    z-index: 10
    .prev
      float: left
      margin: 0 0 0 40px
      a
        background: url(/assets/prev.png)
    .next
      float: right
      margin: 0 50px 0 0
      a
        background: url(/assets/next.png)
    a
      display: block
      width: 80px
      height: 80px
      text-indent: -9999px
  .slides li
    margin: 0 0 20px 0