$gray: #E6E7E8

.slider
  border:
    color: darken($gray, 15%)
    width: 1px
    style: solid
  clear: both
  width: 720px
  height: 470px
  position: relative
  margin: .25em 0 .75em
  z-index: 5
  .slider-nav
    opacity: 0
    position: relative
    top: 0px
    z-index: 10
    &:hover
      opacity: .5
    .prev
      float: left
      margin: 0 0 0 -.25px
      opacity: .2
      a
        background: url(/assets/prev.png)
    .next
      float: right
      margin: 0 -.25px 0 0
      opacity: .2
      a
        background: url(/assets/next.png)
    a
      display: block
      width: 37px
      height: 470px
      text-indent: -9999px