$red: #F05051
$blue: #2A5567
$gray: #E6E7E8
$white: #FFFFFF

@import compass/reset, compass/utilities, compass/css3, compass/css3/font-face, compass/typography/lists/horizontal-list

#work
  background:
    image: url(/assets/wave.png)
    repeat: repeat
  .title h1
    color: $gray
    font:
      family: cubano
      color: $gray
      size: 8em
    position: relative
    top: -.25em
    left: -.715em
    z-index: -5
  .content
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif
    background-color: $gray
    position: relative
    top: -3em
    height: 25em
    p
      line-height: 1.5
      color: $blue
      a
        color: $red
    .portfolio
      margin-top: 2em
      h1
        font:
          family: cubano
          size: 2.5em
        color: $blue
