%h1 DockYard
%nav.menu
  %ul.links
    %li
      %a{:href => '/#what-we-can-do-for-you'}
        what
    %li
      %a{:href => '/#who-we-are'}
        who
    %li
      %a{:href => '/#how-we-work'}
        how
    %li
      %a{:href => '/#community-tools-we-share-and-events-we-organize'}
        community
    %li
      %address contact (p: 855.DOCK.YRD)
