%nav
  %ul
    %li
      %a{:href => '/#what-we-do'} what
    %li
      %a{:href => '/#how-we-work'} how
    %li
      %a{:href => '/#who-we-are'} who
    %li
      %a{:href => '/#community'} community
    %li
      %a{:href => 'http://reefpoints.dockyard.com'} blog
    %li
      %a{:href => '/#contact'} contact
    %li.last
      Call Us (855) DOCK-YRD
