%nav
  %ul
    %li
      %a{:href => '/#what-we-do'} what
    %li
      %a{:href => '/#who-we-are'} who
    %li
      %a{:href => '/#how-we-work'} how
    %li
      %a{:href => '/#community'} community
    %li
      %a{:href => '/#contact'} contact
    %li.last
      = image_tag 'icons/phone.png', :class => 'phone'
      855.DOCK.YRD
